.container {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-xl);
  border-radius: var(--measure-dimension-radius-sm);
  border-width: var(--measure-dimension-radius-xs);
  border-style: solid;
  border-color: var(--color-base-border-border-subtle);
  background: var(--color-base-surface-surface-primary);
}

.chevron {
  color: var(--color-base-icon-icon-action);
}

.item {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
}

.header {
  display: flex;
}

.content {
  padding: 0 var(--measure-dimension-padding-2xl)
    var(--measure-dimension-padding-2xl);
}

.trigger {
  cursor: pointer;
  padding: var(--measure-dimension-padding-2xl);
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--measure-dimension-gap-sm);
  color: var(--color-base-text-text-link);
  &:hover {
    color: var(--color-states-hover-text-hover-text-link);
    .chevron {
      color: var(--color-states-hover-icon-hover-icon-action);
    }
  }

  &[data-state='open'] {
    .chevron {
      transform: rotate(180deg);
    }
  }
}
