.container {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-md);
    padding-top: var(--measure-dimension-gap-md);
    position: relative;
    margin-bottom: 1px;
    padding-bottom: var(--measure-dimension-gap-md);
    padding-top: var(--measure-dimension-padding-3xl);
    border-bottom: 1px solid var(--color-base-border-border-light);
}
.processSelect {
    margin-top: var(--measure-dimension-gap-lg);
}

.legend {
    margin-bottom: var(--measure-dimension-gap-md);
    display: flex;
    justify-content: center;
}

.chartContainer {
    padding-left: var(--measure-dimension-gap-2xl);
    border-left: 1px solid var(--color-base-border-border-light);
}

.insightsContainer {
    padding-top: var(--measure-dimension-padding-4xl);
    padding-right: var(--measure-dimension-padding-lg);
}

.filterContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
