.fieldContainer {
    display: flex;
    gap: 1rem;
    margin-bottom: var(--measure-dimension-margin-xs);
}

.fieldHeader {
    margin-bottom: var(--measure-dimension-gap-md);
    display: block;
}

.errorMessage {
    color: var(--color-status-text-status-error-text);
}

.fieldTag {
    margin-right: var(--measure-dimension-gap-md);
    margin-bottom: var(--measure-dimension-gap-lg);
}

.fieldItem {
    box-sizing: border-box;
    min-width: 0;
}

.assistiveTextCheckbox {
    margin-left: var(--measure-dimension-margin-lg);
    margin-top: var(--measure-dimension-margin-xxs);
}

.error {
    border-color: var(--color-status-surface-status-error-border-alt, #db004f);
}

/* Layout width classes */
.layout-1 {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
}
.layout-2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
}
.layout-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.layout-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
}
.layout-5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
}
.layout-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.layout-7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
}
.layout-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
}
.layout-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.layout-10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
}
.layout-11 {
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
}
.layout-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
