.fieldContainer {
    display: flex;
    margin-bottom: var(--measure-dimension-margin-xs);
}

.fieldHeader {
    margin-bottom: var(--measure-dimension-gap-md);
    display: block;
}

.errorMessage {
    color: var(--color-status-text-status-error-text);
}

.fieldTag {
    margin-right: var(--measure-dimension-gap-md);
    margin-bottom: var(--measure-dimension-gap-lg);
}
