.headerContainer {
  padding-left: var(--measure-dimension-padding-2xl, 1rem);
}

.cardListContainer {
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-md, 0.5rem);

  &.pending {
    box-shadow: none;
  }

  li {
    border: var(--measure-dimension-stroke-sm, 2px) solid
      var(--color-base-border-border-light, #ededed);
  }
}
