.container {
  border-bottom: var(--border-style);
  display: flex;
  align-items: center;
  justify-content: space-between;
  &.pending {
    border: 2px dashed var(--color-base-border-border-subtle, #ccc);
    background-color: var(--color-base-surface-surface-secondary, #f8f8f8);
  }
}

.details {
  display: flex;
  flex-direction: column;
}

.caption {
  color: var(--color-base-text-text-secondary, #676767);
}

.title {
  margin: var(--measure-dimension-gap-sm, 0.25rem) 0;
}
