.riderContainer {
  padding: var(--measure-dimension-padding-2xl, 1rem) 0;

  &:not(:last-of-type) {
    border-bottom: var(--border-style);
  }
}

.riderDetails {
  display: flex;
  margin-top: var(--measure-dimension-gap-lg);

  > * {
    margin-right: var(--measure-dimension-gap-2xl);
  }
}
