.list {
  --font-family-pagination: 'Poppins';
  --pagination-border-style: solid;
  --font-weight-semibold: 500;

  display: flex;
  gap: var(--measure-dimension-gap-md);
  width: 100%;
  justify-content: center;

  font-family: var(--font-family-pagination);
  font-size: var(--measure-font-sizing-font-size-small);
  font-weight: var(--font-weight-semibold);
  color: var(--color-pagination-pagination-indicator-default);
  font-feature-settings:
    'clig' off,
    'liga' off;

  li {
    width: var(--measure-dimension-z-space-8);
    height: var(--measure-dimension-z-space-8);

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border-radius: var(--measure-dimension-radius-sm, 4px);
    order: var(--small-order);
    display: var(--small-display, flex);
    border-width: var(--measure-dimension-stroke-sm, 2px);
    border-style: var(--pagination-border-style, solid);
    border-color: transparent;

    button {
      width: 100%;
      height: 100%;

      &:focus-visible {
        outline-color: var(--color-states-focus-focus-border);
        background-color: var(--color-pagination-pagination-background-selected-fill);
      }
    }

    &.selected {
      background-color: var(--color-pagination-pagination-background-selected-fill);
    }

    &:not(.inactive) {
      &:hover {
        cursor: pointer;
        border-color: var(--color-pagination-pagination-background-hover-fill);
        background: var(--color-pagination-pagination-background-hover-fill);
      }

      &:active:not(.ellipsis) {
        border-color: var(--color-pagination-pagination-border-default);
      }

      &.chevron,
      &.selected {
        border-color: var(--color-pagination-pagination-border-default);
      }

      &.selected {
        &:not(.inactive):hover {
          background-color: var(--color-pagination-pagination-background-selected-fill);
          border-color: var(--color-pagination-pagination-border-default);

          button {
            cursor: default;

            &:focus-visible {
              background-color: transparent;
              outline-offset: var(--measure-dimension-padding-md, 6px);
            }
          }
        }
      }
    }

    &.inactive {
      border-style: solid;
      border-color: var(--color-pagination-pagination-border-inactive, #B3B3B3);
      background: var(--color-pagination-pagination-background-inactive-fill, #EDEDED);

      button:hover {
        cursor: default;
      }

      svg {
        color: var(--color-pagination-pagination-border-inactive, #B3B3B3);
      }
    }

    &.ellipsis:hover {
      cursor: default;
      border-color: transparent;
      background-color: transparent;
    }

    &.chevron svg {
      display: block;
      margin: auto;

      &.next {
        rotate: 270deg;
      }

      &.previous {
        rotate: 90deg;
      }
    }

    @media (min-width: 768px) {
      order: var(--large-order);
      display: var(--large-display);
    }
  }

  .hidden {
    display: none;
  }
}