.pageContainer {
  > *:not(:last-child) {
    /* Set top and bottom explicitly because header policy component has left margin */
    margin-top: var(--measure-dimension-gap-lg, 1rem);
    margin-bottom: var(--measure-dimension-gap-lg, 1rem);
  }
}

.itemHeader {
  margin-bottom: var(--measure-dimension-gap-lg, 1rem);
}
