.cardContainer {
    display: flex;
}

.primary {
    background-color: var(--color-base-surface-primary);
}

.secondary {
    background-color: var(--color-base-surface-secondary);
}

.cardContent {
    padding: var(--measure-dimension-padding-2xl);
    width: 100%;
}

@media (min-width: 768px) {
    .cardContent {
        padding: var(--measure-dimension-padding-3xl);
    }
}

@media (min-width: 1025px) {
    .cardContent {
        padding: var(--measure-dimension-padding-4xl);
    }
}
