.container {
    position: relative;
    background-color: var(--color-base-surface-primary);
}

.layoutMain {
    flex: 1;
}

.sidesheetContent {
    border-top: none;
    width: max-content;
}

.sidesheetOverlay {
    background-color: rgba(0, 0, 0, 0.25);
}

.sidesheetDescription {
    padding: 0;
}

.layoutNav {
    height: 100%;
}

.layoutHeader {
    display: flex;
    border-bottom: var(--measure-dimension-stroke-xs) solid
        var(--color-grayscale-color-200-gray);
    gap: var(--measure-dimension-z-space-4);
    padding-inline: var(--measure-dimension-z-space-6);
    padding-block: var(--measure-dimension-z-space-4);
}

.navMenuButton:hover:not(:disabled):after {
    content: none;
}

.sidesheetContent,
.sidesheetOverlay,
.layoutHeader {
    display: auto;
}
.sidebarNav {
    display: none;
}

@media (min-width: 1024px) {
    .container {
        display: flex;
        background-color: var(--color-base-surface-carrier);
    }

    .sidesheetContent,
    .sidesheetOverlay,
    .layoutHeader {
        display: none;
    }

    .sidebarNav {
        display: block;
    }
}
