.eApp {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.headerWrapper {
    border-bottom: var(--measure-dimension-stroke-sm) solid
        var(--color-base-border-light);
    padding: var(--measure-dimension-padding-2xl)
        var(--measure-dimension-padding-3xl) 0
        var(--measure-dimension-padding-3xl);
}

.infoHeaderWrapper {
    display: flex;
    justify-content: space-between;
    gap: var(--measure-dimension-gap-lg);
}

.infoHeader {
    display: flex;
    align-items: center;

    > * {
        margin-right: var(--measure-dimension-gap-md);
    }
}

.headerTitle {
    color: var(--color-base-text-carrier);
}

.headerSubtitle {
    /* color: var(--color-base-text-secondary); */
    color: var(--color-base-text-primary, #212121);
}

.applicationWrapper {
    container-type: size;
    /* enables container queries */
    container-name: application-wrapper;
    /* optional, but helpful */
    display: flex;
    flex-grow: 1;
    flex-direction: row;
}

.layoutWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: row;
    overflow-x: hidden;
    overflow-y: auto;
}

.applicationBody {
    flex-grow: 1;
    overflow-x: auto;
    overflow-y: auto;
}

.applicationSidebar {
    width: 200px;
    background-color: var(--color-base-surface-secondary);
    border-left: 1px solid var(--color-base-border-light);
}

/* Stack sidebar under body at 500px or less */
@container application-wrapper (max-width: 501px) {
    .layoutWrapper {
        flex-direction: column;
        width: 100%;
    }

    .applicationSidebar {
        width: 100%;
        border-left: none;
        border-top: 1px solid var(--color-base-border-light);
    }
}

/* this css fixes a position issue when the container has the 'container-type: size' property */
.applicationWrapper [data-radix-popper-content-wrapper] {
    position: absolute !important;
}
