.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 16px;

  @media (width <= 768px) {
    grid-template-columns: 1fr;
  }
}

.name {
  display: flex;
  flex-direction: column;
}

.role {
  color: var(--color-base-text-text-secondary);
}

.personDetails {
  > div {
    padding: var(--measure-dimension-padding-2xl) 0;
  }

  > div:not(:last-of-type) {
    border-bottom: 2px solid var(--color-base-border-border-light);
  }
}

.icon {
  color: var(--color-base-icon-icon-tooltip);
}

.trigger {
  display: flex;
  align-items: center;
  gap: var(--measure-dimension-gap-md);
}
