.inputContainer {
    position: relative;

    &:last-of-type input {
        border-radius: 0px var(--measure-border-radius-radius-md) var(--measure-border-radius-radius-md) 0px;
    }
}

.input {
    --iconSize: 24px;
    border: 2px solid var(--color-base-border-border-subtle);
    border-left-width: 0;
    border-radius: 0;
    padding: var(--measure-spacing-padding-lg) var(--measure-spacing-padding-2xl);
    padding-left: calc(var(--iconSize) + var(--measure-dimension-gap-lg) + var(--measure-spacing-padding-2xl));

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    [type='number'] {
        /* to do - variable? */
        width: 306px;
    }

    [type='text'] {
        /* to do - variable? */
        width: 186px;
    }

    &:active,
    &:focus,
    &:focus-visible {
        border-color: var(--color-base-border-border-subtle);
        outline-color: #007dbc;
        outline-offset: 2px;
        position: relative;
        z-index: 1;
        /* Tailwind will be the death of me - this is to override the weird default outline it provides */
        --tw-ring-color: #007dbc;
        --tw-ring-offset-shadow: none;
        --tw-ring-shadow: none;
    }

    &:hover {
        border-color: #003b54;
        outline: none;
    }
}

.icon {
    position: absolute;
    left: 16px;
    top: 8px;
    z-index: 2;
}
