@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.loader {
  --loader-size: var(--measure-dimension-z-space-10);
  --loader-mask: radial-gradient(
    farthest-side,
    #0000 calc(60%),
    var(--color-base-icon-icon-light) 0
  );
  animation: rotate 0.5s ease-in infinite;
  background: transparent;
  mask: var(--loader-mask);
  -webkit-mask: var(--loader-mask);
  border-radius: 50%;
  height: var(--loader-size);
  width: var(--loader-size);
  position: relative;
  display: inline-block;

  &::before {
    border-radius: 50%;
    --gradient-color-1: color-mix(
      in srgb,
      var(--color-accent-color-accent-one) 0%,
      transparent
    );
    --gradient-color-2: color-mix(
      in srgb,
      var(--color-accent-color-accent-one) 40%,
      transparent
    );
    --gradient-color-3: var(--color-primary-color-primary);
    --gradient-color-4: var(--color-accent-color-accent-two);
    background: conic-gradient(
      var(--gradient-color-1),
      var(--gradient-color-2),
      var(--gradient-color-3),
      var(--gradient-color-4)
    );

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  &.loader::before,
  &.loader::after {
    content: '';
    position: absolute;
  }

  &.cta {
    --loader-size: var(--measure-dimension-z-space-4);
  }
}
