.tableContainer {
  font: var(--typography-content-body-sm);
}

.tableContainer :global(th) {
  background: var(--color-base-surface-surface-primary) !important;
  border: none !important;
}

.tableContainer :global(th:nth-child(odd)) {
  background: var(--color-base-surface-surface-primary);
  border-radius: 0 var(--measure-dimension-border-radius-xs, 2px) 0 0;
}

.tableContainer :global(td) {
  border-bottom: var(--measure-dimension-stroke-sm)
    var(--color-base-border-border-light) solid !important;
}

.tableContainer :global(tr:nth-child(1)) {
  :global(td:first-child) {
    border-top: var(--measure-dimension-stroke-sm)
      var(--color-base-border-border-light) solid !important;
    border-radius: var(--measure-dimension-border-radius-md, 8px) 0px 0 0;
  }

  :global(td:nth-child(3)) {
    border-top: var(--measure-dimension-stroke-sm)
      var(--color-base-border-border-light) solid !important;
    border-radius: 0px var(--measure-dimension-border-radius-md, 8px) 0 0;
  }

  :global(td:nth-child(2)) {
    border-top: var(--measure-dimension-stroke-sm)
      var(--color-base-border-border-light) solid !important;
  }
}

.tableContainer :global(td:first-child) {
  border-left: var(--measure-dimension-stroke-sm)
    var(--color-base-border-border-light) solid !important;
}

.tableContainer :global(td:last-child) {
  border-right: var(--measure-dimension-stroke-sm)
    var(--color-base-border-border-light) solid !important;
}

.tableContainer :global(tr:last-child td:first-child) {
  border-radius: 0px 0px 0px var(--measure-dimension-border-radius-md, 8px);
}

.tableContainer :global(tr:last-child td:last-child) {
  border-radius: 0px 0px var(--measure-dimension-border-radius-md, 8px) 0px;
}

.tableContainer :global(th:nth-child(even)) {
  background: var(--color-base-surface-surface-secondary) !important;
  border: var(--measure-dimension-stroke-sm) solid
    var(--color-base-border-border-light) !important;
  border-bottom: none !important;
  border-radius: 8px var(--measure-dimension-border-radius-md, 8px) 0 0;
}

.tableContainer :global(td:nth-child(even)) {
  background: var(--color-base-surface-surface-secondary);
  border-right: var(--measure-dimension-stroke-sm)
    var(--color-base-border-border-light) solid !important;
  border-left: var(--measure-dimension-stroke-sm)
    var(--color-base-border-border-light) solid !important;
}

.tableContainer :global([class*='tableWrapper']) {
  border: none !important;
}
