.paymentSummaryDetails {
  .list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--measure-dimension-gap-lg);
    border-radius: var(--radius-sm);
    border-style: solid;
    border-color: var(--border-light);
    border-width: var(--stroke-sm);
    padding: var(--padding-2xl);
  }

  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-xl);

  h3 {
    font: var(--subtitle);
  }

  &.mobile {
    display: none;
  }

  @media screen and (max-width: 768px) {
    display: none;

    &.mobile {
      display: flex;
      gap: var(--measure-dimension-gap-lg);

      h3 {
        grid-column: 1 / -1;
      }
    }
  }

  .bankDisplay {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-sm);
    font: var(--typography-content-body-sm-bold);
  }
}