.riderContainer {
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  box-shadow: 0px 1.6px 3.6px 0px rgba(0, 0, 0, 0.11);
  background-color: var(
    --color-fields-surface-field-background-default-fill,
    #fff
  );
  padding: var(--measure-dimension-padding-2xl, 1rem);
}

.riderDetails {
  display: flex;
  margin-top: var(--measure-dimension-gap-lg);

  > * {
    margin-right: var(--measure-dimension-gap-2xl);
  }
}
