.popoverContainer {
  background-color: var(--color-base-surface-surface-darker, #212121);
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  box-shadow: var(
    --shadow-elevation-elevation-dark-08,
    0px 4px 8px 0px rgba(0, 0, 0, 0.28)
  );
  color: var(--color-base-text-text-light, #fff);
  max-width: 320px;
  padding: var(--measure-dimension-padding-xl, 0.75rem);
  width: 320px;
}

.popoverTitleContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--measure-dimension-gap-lg, 1rem);
}

.popoverTrigger {
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: '';
    /* minimum click area for accessibility is 24px */
    min-width: 24px;
    min-height: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
