.note {
  color: var(--color-base-text-text-secondary);
}

.progressBar {
  width: 100%;
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-xl);
  margin: var(--measure-dimension-gap-3xl) 0 var(--measure-dimension-gap-md);

  > * {
    width: 100%;
  }
}

.inputGroup {
  width: 100%;
  border: var(--measure-dimension-stroke-sm) solid
    var(--color-base-border-border-light);
  border-radius: var(--measure-dimension-radius-sm);
  padding: var(--measure-dimension-padding-lg);
  display: flex;
  justify-content: space-between;
}

.datePickerContainer {
  padding: var(--measure-dimension-padding-xl);
  box-shadow: var(--shadow-elevation-elevation-light-04);
  background-color: var(--color-base-surface-surface-primary);
  z-index: 9;
  margin-top: var(--measure-dimension-gap-xl);
  border-radius: var(--measure-dimension-radius-sm);
  /* Align to edge of the input box rather than trigger icon */
  margin-right: calc(var(--measure-dimension-padding-lg) * -1);
}

/* TODO: add a hover style */
.bankContainer {
  display: flex;
  flex-direction: column;
  border: var(--measure-dimension-stroke-sm) solid
    var(--color-base-border-border-light);
  border-radius: var(--measure-dimension-radius-sm);
  padding: var(--measure-dimension-padding-2xl);
  max-width: 375px;
  cursor: pointer;

  &:hover {
    border-color: var(--color-states-hover-hover-primary-border);
  }

  > * {
    margin-bottom: var(--measure-dimension-gap-xs);
  }

  &:not(:last-of-type) {
    margin-bottom: var(--measure-dimension-gap-lg);
  }

  &:has(input:checked) {
    border-color: var(--color-states-selected-selected-primary-border);

    &:hover {
      border-color: var(--color-states-hover-hover-primary-border);
    }
  }

  &:has(input:focus-visible) {
    outline: 2px solid #0d69d4;
    outline-offset: 2px;
  }
}

.bankDetail {
  color: var(--color-base-text-text-secondary);
}

.paymentSummaryContainer {
  background-color: var(--color-base-surface-surface-secondary);
  padding: var(--measure-dimension-padding-3xl);
  border-radius: var(--measure-dimension-radius-sm);
}

.paymentSummaryDetails {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
  padding-bottom: var(--measure-dimension-padding-3xl);
  border-bottom: 2px solid var(--color-base-border-border-light);
}

.paymentSummaryStepContainer {
  padding-top: var(--measure-dimension-padding-3xl);
}

.dateContainer {
  position: relative;
}

@media (width > 767px) {
  .inputGroup {
    width: 350px;
  }

  .buttonGroup {
    flex-direction: row;
    gap: var(--measure-dimension-gap-2xl);

    > * {
      width: auto;
    }
  }

  .steps {
    width: 350px;
  }

  .paymentSummaryDetails {
    flex-direction: row;
    gap: var(--measure-dimension-gap-2xl);
  }
}
