.container {
  background-color: var(--color-fields-surface-field-default-fill, #fff);
  padding: var(--measure-dimension-padding-2xl, 1rem);
}

.item {
  border-top: var(--border-style);
  display: flex;
  justify-content: space-between;
  padding: var(--measure-dimension-padding-2xl, 1rem) 0;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.sectionContainer {
  > * {
    margin-bottom: var(--measure-dimension-padding-lg, 0.5rem);
  }
}

/* TODO: fix the spacing between bullet and text */
.currentlyElectedLabel {
  display: list-item;
  list-style-position: inside;
}
