.detailsContainer {
  padding: var(--measure-dimension-padding-2xl, 1rem);

  > * {
    margin-bottom: var(--measure-dimension-padding-lg, 1rem);
  }
}

.item {
  border-top: var(--border-style);
  display: flex;
  justify-content: space-between;
  padding: var(--measure-dimension-padding-2xl, 1rem) 0;

  &:last-of-type {
    padding-bottom: 0;
  }
}

.sectionContainer {
  > * {
    margin-bottom: var(--measure-dimension-padding-lg, 0.5rem);
  }
}

/* TODO: fix the spacing between bullet and text */
.currentlyElectedLabel {
  display: list-item;
  list-style-position: inside;
}

@media (width > 767px) {
  .detailsContainer {
    display: flex;
    gap: var(--measure-dimension-gap-2xl, 2rem);

    > * {
      margin-bottom: 0;
    }
  }
}
