.footerActionText {
    cursor: not-allowed;
    font-weight: var(--string-font-weight-font-weight-semibold);
    color: rgb(var(--color-300-gray));
}

.footerActionLink {
    font-size: var(--measure-font-sizing-content-body-font-size);
    font-weight: var(--string-font-weight-font-weight-semibold);
    color: var(--color-base-text-text-link);
    cursor: pointer;
}
