.bankContainer {
  display: flex;
  flex-direction: column;
  border: var(--measure-dimension-stroke-sm) solid
    var(--color-base-border-border-light);
  border-radius: var(--measure-dimension-radius-sm);
  padding: var(--measure-dimension-padding-2xl);
  max-width: 375px;
  cursor: pointer;

  &:hover {
    border-color: var(--color-states-hover-border-hover-border);
  }

  > * {
    margin-bottom: var(--measure-dimension-gap-xs);
  }

  &:not(:last-of-type) {
    margin-bottom: var(--measure-dimension-gap-lg);
  }

  &:has(input:checked) {
    border-color: var(--color-states-selected-selected-primary-border);

    &:hover {
      border-color: var(--color-states-hover-border-hover-border);
    }
  }

  &:has(input:focus-visible) {
    outline: 2px solid #0d69d4;
    outline-offset: 2px;
  }
}

.bankDetail {
  color: var(--color-base-text-text-secondary);
}

/* These are set to important because its overriding the button style to make this look like text */
button.linkClassname {
  font-family: var(--font-family-secondary) !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 22px !important;
  letter-spacing: 0em !important;
  text-indent: 0px !important;
  display: inline;
}

.disclaimer {
  button {
    text-decoration: underline;
    text-underline-position: under;

    &:hover {
      text-decoration: none;
    }
  }
}

@media (width > 767px) {
  .banksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--measure-dimension-gap-lg);
  }

  .bankContainer {
    &:not(:last-of-type) {
      margin-bottom: 0;
    }
  }
}
