.cardSubSection {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
  padding: var(--measure-dimension-padding-4xl);
}

.cardSubSectionContent {
  display: flex;
  gap: var(--measure-dimension-gap-2xl);
  flex-wrap: wrap;
}

.h2 {
  composes: h2 from '../../styles/globals.css';
}

.span {
  composes: span from '../../styles/globals.css';
}
