.exceptionNotificationLink {
  font: var(--typography-content-caption-selected);
  color: var(--color-status-text-status-error-text);
  text-decoration: underline;
  margin-bottom: var(--measure-dimension-gap-sm);
  margin-left: var(--measure-dimension-gap-sm);

  &:hover {
    text-decoration: none;
    color: var(--color-status-text-status-error-text);
  }
}
