.buttonGroup {
  composes: typography-content-body-sm from '../../tokens/css/typography.css';
  border-radius: var(--measure-dimension-radius-md);

  --button-group-border-style: solid;

  >* {
    border-top: var(--measure-dimension-stroke-sm) var(--button-group-border-style) var(--color-button-group-button-group-item-primary-border);
    border-bottom: var(--measure-dimension-stroke-sm) var(--button-group-border-style) var(--color-button-group-button-group-item-primary-border);
    border-left: var(--measure-dimension-stroke-xs) var(--button-group-border-style) var(--color-button-group-button-group-item-primary-border);
    border-right: var(--measure-dimension-stroke-xs) var(--button-group-border-style) var(--color-button-group-button-group-item-primary-border);

    &:first-child {
      border-left-width: var(--measure-dimension-stroke-sm);
    }

    &:last-child {
      border-right-width: var(--measure-dimension-stroke-sm);
    }
  }

  :first-child {
    border-top-left-radius: var(--measure-dimension-radius-md);
    border-bottom-left-radius: var(--measure-dimension-radius-md);
  }

  :last-child {
    border-top-right-radius: var(--measure-dimension-radius-md);
    border-bottom-right-radius: var(--measure-dimension-radius-md);
  }
}

.buttonGroupItem {
  background-color: var(--color-button-group-button-group-item-primary-fill);
  padding: var(--measure-dimension-padding-lg) var(--measure-dimension-padding-3xl);

  &:hover {
    background-color: var(--color-button-group-button-group-item-primary-hover-fill);
    border-color: var(--color-button-group-button-group-item-primary-selected-border);
  }

  /* SELECTED STATE */
  &[data-state='on'] {
    background-color: var(--color-button-group-button-group-item-primary-selected-fill);
    border-color: var(--color-button-group-button-group-item-primary-selected-border);

    &:focus-visible {
      outline-color: var(--color-states-focus-focus-border);
    }
  }

  &:disabled {
    cursor: not-allowed;
    color: var(--color-button-group-button-group-item-primary-inactive-text);
    border-color: var(--color-button-group-button-group-item-primary-inactive-border);
    background-color: var(--color-button-group-button-group-item-primary-inactive-fill);
  }
}