.selected {
    border-color: var(--color-primary-color-primary, #ff7500);
}

.RadioGroupRoot {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-lg, 1rem);
}

.RadioGroupItem {
    width: var(--measure-dimension-z-space-6, 1.5rem);
    height: var(--measure-dimension-z-space-6, 1.5rem);
    border-radius: var(--measure-dimension-radius-max, 62.5rem);
    border-color: var(--color-grayscale-color-300-gray, #b3b3b3);
    border-width: var(--measure-dimension-stroke-sm, 0.125rem);
    margin-right: var(--measure-dimension-z-space-2, 0.5rem);
    
    &:disabled + label {
        color: var(--color-states-inactive-inactive-text, #b3b3b3);
    }
}

.RadioGroupItem:hover:not([data-disabled]) {
    border-color: var(--color-accent-color-accent-one, #ffc600);
}

.RadioGroupItem:focus {
    outline-offset: var(--measure-dimension-stroke-lg, 0.25rem);
    outline-color: var(--color-semantics-color-semantic-focus, #37a2d8);
}

.RadioGroupIndicator {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.RadioGroupIndicator::after {
    content: '';
    display: block;
    width: var(--measure-dimension-z-space-4, 1rem);
    height: var(--measure-dimension-z-space-4, 1rem);
    border-radius: 50%;
    background-color: var(--color-grayscale-color-300-gray, #b3b3b3);
}

.RadioGroupIndicator[data-state="checked"]::after {
    background-color: var(--color-primary-color-primary, #ff7500);
}

.RadioGroupItem[data-state="checked"] {
    border-color: var(--color-primary-color-primary, #ff7500);
}

.RadioGroupItem[data-disabled][data-state="checked"] {
    border-color: var(--color-primary-color-primary-lightest, #ffead9);

}

.RadioGroupItem[data-disabled][data-state="unchecked"] {
    background-color: var(--color-grayscale-color-100-gray, #ededed);
}

.RadioGroupIndicator[data-disabled][data-state="checked"]::after {
    background-color: var(--color-primary-color-primary-lightest, #ffead9);
    width: var(--measure-dimension-z-space-4, 1rem);
    height: var(--measure-dimension-z-space-4, 1rem);
}