.container {
  background-color: white;
  display: flex;
  padding: var(--measure-dimension-padding-2xl, 1rem)
    var(--measure-dimension-padding-4xl, 2rem);
  align-items: center;
  justify-content: space-between;
  box-shadow: var(
    --shadow-elevation-elevation-light-08,
    0 3.200000047683716px 7.199999809265137px 0 rgba(0, 0, 0, 0.13)
  );
}

.logo {
  align-self: center;
  width: 6rem;
  flex-shrink: 0;
}

.navItemsContainer {
  display: flex;
  gap: var(--measure-dimension-gap-md, 1rem);
  align-items: center;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.separator {
  color: var(--color-base-border-border-subtle, #ccc);
}

@media (width < 500px) {
  .container {
    display: none;
  }
}
