.container {
    position: relative;
    background-color: var(--color-base-surface-surface-primary);
}

.statBlock {
    border-width: 0;
}

.filterContainer {
    display: flex;
    gap: var(--measure-dimension-gap-lg);
    align-items: center;
    margin-bottom: var(--measure-dimension-gap-2xl);
}

.legendContainer {
    margin-bottom: var(--measure-dimension-gap-lg);
}

.timeFilterContainer {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
