.iconInput {
    --iconSize: 24px;
    padding-left: calc(
        var(--iconSize) + var(--measure-dimension-gap-lg) +
            var(--measure-spacing-padding-lg)
    );
    padding-right: calc(var(--iconSize) + var(--measure-spacing-padding-lg));
    width: 100%;
    border-radius: var(--measure-border-radius-radius-md);
    border-left-width: var(--measure-border-width-stroke-sm);
}

.readOnly {
    cursor: not-allowed !important;
    opacity: 0.5;
}

.labelWithFlag {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

.flagIcon {
    vertical-align: middle;
}

.flagTrigger {
    vertical-align: middle;
}
