.container {
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  border: 2px dashed var(--color-base-border-border-bold, #b3b3b3);
}

.content {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: var(--measure-dimension-padding-2xl, 1rem);
  position: relative;
  justify-content: center;
  width: 100%;
  text-align: center;
}

.icon {
  color: var(--color-states-inactive-text-inactive-text);
}

.noBankDetails {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-xl);
}

.noBankDetails p {
  text-align: center;
}

.noBankDetailsAddButton {
  margin-top: var(--measure-dimension-margin-sm);
}
