.container {
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  border: 2px dashed var(--color-base-border-border-bold, #b3b3b3);
  margin-bottom: var(--measure-dimension-gap-md);
}

.content {
  align-items: center;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  padding: var(--measure-dimension-padding-2xl, 1rem);
  position: relative;
  justify-content: center;
  width: 100%;
}

.icon {
  color: var(--color-states-inactive-icon, #b3b3b3);
}
