.quickActions {
    align-items: center;
    justify-content: center;
    display: flex;
    width: fit-content;
    gap: var(--measure-dimension-z-space-1);
    color: var(--color-base-icon-action-text-link);
    &:hover {
        color: var(--color-states-hover-text-hover-text-link);
    }
    &:focus-visible {
        border-radius: 4px;
    }
}
.toastContainer {
    position: fixed;
    bottom: 1rem;
    right: 2.5rem;
    z-index: 50;
}
