.progressBar__scrollable {
    width: 100%;
    overflow-x: auto;
    scroll-behavior: smooth;
    flex-shrink: 0;
}

.progressBar__steps {
    border-bottom: 2px solid var(--color-base-border-subtle);
    display: flex;
    overflow-x: auto;
    gap: 1px;
}
