.container {
  background-color: var(--color-base-surface-surface-primary, #fff);
  box-shadow: var(
    --shadow-elevation-elevation-light-md,
    0 3.200000047683716px 7.199999809265137px 0 rgba(0, 0, 0, 0.13)
  );
  display: flex;
  height: 64px;
  padding: var(--measure-dimension-padding-2xl, 1rem);
  pointer-events: auto;
}

.content {
  background-color: var(--color-base-surface-surface-darker);
  display: flex;
  flex-direction: column;
  inset: 0;
  overflow: hidden;
  padding: var(--measure-dimension-padding-2xl, 1rem)
    var(--measure-dimension-padding-lg, 0.5rem);
  position: absolute;
  top: 64px;
  height: 100vh;
}

.innerContent {
  width: 100%;

  ul {
    padding-bottom: var(--measure-dimension-gap-xs, 0.5rem);
  }
}

.logo {
  width: 88px;
}

.content[data-state='open'] {
  animation: showMenu 300ms ease-out;
}

.content[data-state='closed'] {
  animation: hideMenu 300ms ease-out;
}

.radioItem {
  display: flex;
  margin-left: var(--measure-dimension-gap-xl, 1rem);
}
.radioInput {
  margin-right: var(--measure-dimension-gap-sm, 0.25rem);
}
.navItem {
  align-items: center;
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  color: var(--color-base-text-text-light, #fff);
  display: flex;
  margin-bottom: var(--measure-dimension-gap-sm, 0.25rem);
  padding-right: 0 var(--measure-dimension-padding-2xl, 1rem);

  :first-child {
    margin-right: var(--measure-dimension-gap-md, 0.5rem);
  }

  .firstItem {
    padding: var(--measure-dimension-padding-sm, 0.25rem);
    padding-left: var(--measure-dimension-padding-lg, 0.5rem);
  }

  &:hover {
    background-color: var(--color-nav-menu-menu-link-hover-fill, #313131);
    text-decoration: none;
  }

  &.selected {
    background-color: var(--color-nav-menu-menu-link-hover-fill, #313131);

    .firstItem {
      background-color: var(--color-base-surface-surface-primary, #fff);
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
      border-bottom-right-radius: var(--measure-dimension-radius-sm, 0.25rem);
      border-top-right-radius: var(--measure-dimension-radius-sm, 0.25rem);

      svg {
        color: black;
      }
    }
  }
}

@keyframes showMenu {
  from {
    left: -100%;
    opacity: 0.5;
  }

  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes hideMenu {
  from {
    left: 0;
    opacity: 1;
  }

  to {
    left: -100%;
    opacity: 0.75;
  }
}

@media (width >=500px) {
  .content {
    width: 500px;
  }
}

@media (width <=500px) {
  .content {
    width: 100%;
  }
}
