:root:has(main[data-theme='wellabe']) {
  --color-primary-color-primary-50-percent-opacity: #ffc107;
  --color-primary-color-primary: #ffc107;
  --color-primary-color-primary-lightest: #ffc107;
  --color-primary-color-primary-lighter: #ffc107;
  --color-primary-color-primary-light: #ffc107;
  --color-primary-color-primary-dark: #ffc107;
  --color-secondary-color-secondary: #4c4639;
  --color-secondary-color-secondary-lightest: #fdf7eb;
  --color-secondary-color-secondary-lighter: #7e7667;
  --color-secondary-color-secondary-light: #645e4f;
  --color-secondary-color-secondary-dark: #353024;
  --color-accent-color-accent-one: #ea6338;
  --color-accent-color-accent-two: #faf0dd;
}
