:root:has(main[data-theme='wellabe']) {
  --color-primary-color-primary-50-percent-opacity: #eec31950;
  --color-primary-color-primary: #eec319;
  --color-primary-color-primary-lightest: #fff6d2;
  --color-primary-color-primary-lighter: #f9e597;
  --color-primary-color-primary-light: #f1d771;
  --color-primary-color-primary-dark: #bd9400;
  --color-secondary-color-secondary: #396ebe;
  --color-secondary-color-secondary-lightest: #f5f9ff;
  --color-secondary-color-secondary-lighter: #accdff;
  --color-secondary-color-secondary-light: #92b9f3;
  --color-secondary-color-secondary-dark: #2b5da8;
  --color-accent-color-accent-one: #396ebe;
  --color-accent-color-accent-two: #2b5da8;

  --color-loader-loader-part-one: var(--color-primary-color-primary);
  --color-loader-loader-part-two: var(--color-primary-color-primary);
  --color-loader-loader-part-three: var(--color-primary-color-primary);

  --color-gradient-gradient-part-one: var(--color-primary-color-primary);
  --color-gradient-gradient-part-two: var(--color-primary-color-primary-light);
  --color-gradient-gradient-part-three: var(
    --color-primary-color-primary-light
  );

  /*
  * NOT BLOOM
  * =========
  */
  --user-badge-background-color: var(--color-primary-color-primary);
  --user-badge-text-color: var(
    --color-button-primary-button-primary-default-text
  );

  /*
  * NOT BLOOM
  * =========
  */
  --user-badge-text-color: var(--color-base-surface-surface-primary);
}
