.labelCell {
    grid-column: span 1 / span 1;
    color: var(--color-base-text-secondary);
}

.valueRow {
    grid-column: span 2 / span 2;
    display: flex;
    gap: 2rem;
    align-items: center;
}
