.container {
  background-color: white;
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.logo {
  align-self: center;
  width: 6rem;
  flex-shrink: 0;
}

.navItemsContainer {
  display: flex;
  gap: var(--measure-dimension-gap-md, 1rem);
  align-items: center;
}

.navItem {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.separator {
  color: var(--color-base-border-border-subtle, #ccc);
}
