.detailsTable {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--measure-dimension-gap-lg);
}

.chevronBack {
  transform: rotate(90deg);
}

.sidesheetTrigger {
  cursor: pointer;

  &::after {
    content: '';
    /* minimum click area for accessibility is 24px */
    min-width: 24px;
    min-height: 24px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
  }
}
