.fundNameTrigger {
  color: var(--color-base-text-text-link);
  text-decoration: underline;
  text-underline-position: under;
  cursor: pointer;

  &:hover {
    text-decoration: none;
  }

  /* This is nuts, but increases the size of the unicode bullet which we have to use,
  so that the text underline extends below it. Need text underline rather than a pseudo
  element so that when the text wraps, each line has an underline. line-height is set
  to match the text, text-top vertical align works because magic*/
  .isElected {
    font-size: 16px;
    vertical-align: text-top;
    line-height: 16px;

    /* add this as spacing, using padding or margin doesn't include text underline */
    &::after {
      content: '     ';
    }
  }
}

/* This needs to be updated in bloom. Added issue https://github.com/zinnia/bloom/issues/140 */
.tableRow {
  &:hover {
    background-color: transparent;
  }
}

.activeFund {
  color: var(--color-base-text-text-secondary);
}

.chevronBack {
  transform: rotate(90deg);
}

.backButton {
  padding-left: 0;
}
