.quickViewCard {
    background-color: var(--color-base-surface-surface-primary);
    border: var(--measure-dimension-stroke-sm) solid var(--color-base-border-border-subtle);
    border-radius: var(--measure-dimenion-radius-md, 8px);
    display: flex;
    flex-direction: column;
    padding: var(--measure-dimension-padding-4xl);
    margin-bottom: var(--measure-dimension-margin-md);
}

.policyQuickColumns {
    display: flex;
    padding: var(--measure-dimension-padding-4xl) 0;
}

.bannerContainer {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-lg);
}

.quickViewRoot {
    flex: 1;

    &:first-child {
        border-right: 2px solid var(--color-base-border-border-light);
        padding-right: 32px;
    }
    &:last-child {
        padding-left: 32px;
    }
}

.quickViewSection {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    column-gap: 32px;
    row-gap: 16px;
}

@media (max-width: 768px) {
    .policyQuickColumns {
        flex-direction: column;
        gap: 32px;
    }
    .quickViewRoot {
        &:first-child {
            border-right: none;
            padding-right: 0;
        }
        &:last-child {
            padding-left: 0;
        }
    }
}
