.container {
  &,
  .content,
  .details,
  .footer {
    display: flex;
    flex-direction: column;
  }

  height: 100%;
  width: 100vw;
  background-color: var(--color-base-surface-primary);
  justify-content: flex-start;
  align-items: center;

  &:has(.banner) {
    max-width: 1440px;
  }

  @media (width >=1024px) {
    flex-direction: row;
    align-items: stretch;
  }

  .banner {
    background-repeat: no-repeat;
    height: 93px;
    background-size: cover;
    background-position: bottom center;
    width: 100%;

    @media (width >=1024px) {
      max-width: 434px;
      background-size: 100% auto;
      background-position-y: center;
      height: 100%;
    }

    &.everly {
      background-color: #a9c7ff;
      background-image: url('../../app/styles/everly/assets/everly-hero-background-mobile.png');

      @media (width >=500px) {
        background-image: url('../../app/styles/everly/assets/everly-hero-background-tablet.png');
      }

      @media (width >=1024px) {
        background-image: url('../../app/styles/everly/assets/everly-hero-background.png');
      }
    }

    &.wellabe {
      background-color: #efc416;
      background-image: url('../../app/styles/wellabe/assets/mobile-temp.png');

      @media (width >=500px) {
        background-image: url('../../app/styles/wellabe/assets/mobile-temp.png');
      }

      @media (width >=1024px) {
        background-image: url('../../app/styles/wellabe/assets/desktop-temp.png');
      }
    }
  }

  .scrollContainer {
    display: grid;
    flex: 1;
    overflow-y: auto;
    padding: var(--measure-dimension-margin-md)
      var(--measure-dimension-margin-xs);

    @media (width >=1024px) {
      place-items: center;
      padding-left: var(--measure-dimension-padding-6xl);
    }
  }

  .content {
    text-align: center;
    align-items: center;
    row-gap: var(--measure-dimension-gap-3xl);
    min-height: 532px;

    @media (width >=500px) {
      width: calc(424px - var(--measure-dimension-padding-6xl));
    }

    @media (width >=1024px) {
      width: 465px;
      text-align: start;
      align-items: baseline;
    }

    .logoContainer {
      width: 124px;

      @media (width >=1024px) {
        width: 200px;
      }
    }

    .details {
      gap: var(--measure-dimension-gap-lg);

      .actionContainer {
        margin: 0 auto;
        width: 100%;

        @media (width >=1024px) {
          & > * {
            width: 100%;
          }
        }
      }
    }

    .footer {
      gap: var(--measure-dimension-gap-lg);
      color: var(--color-base-text-text-secondary, #676767);
      border-top: var(--border-style);
      padding: var(--measure-dimension-padding-2xl) 0;
      text-align: left;
    }
  }

  .headerContainer {
    display: flex;
    gap: var(--measure-dimension-gap-xs);
    align-items: center;
  }
}
