.itemhover:hover {
    color: var(--color-base-text-link);
    background-color: var(--color-base-surface-secondary);
    border-radius: var(--measure-dimension-z-space-1);
}
.activeItem {
    color: var(--color-nav-drawer-2-nav-drawer-item-2-active-border) !important;
}
.selectedClient {
    background: hsl(var(--color-black));
    color: var(--color-base-surface-primary);
    padding: 5px 10px;
    font-size: 12px;
}
