.container {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-lg, 1rem);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-lg, 1rem);
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-lg, 1rem);
}
