.cardSubSection {
    padding-top: var(--measure-dimension-padding-4xl);
    padding-bottom: var(--measure-dimension-padding-4xl);
}

.cardSubSectionHeader {
    margin-bottom: var(--measure-dimension-gap-lg);
}

.cardSubSectionContent {
    display: flex;
    gap: var(--measure-dimension-gap-2xl);
}
