.container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: relative;

  &::before {
    /* styles for line joining all steps together */
    content: '';
    background-color: var(--color-base-surface-surface-bold);
    background-color: var(--color-primary-color-primary);
    height: 2px;
    /* set to smaller than container so doesn't show on right side */
    /* 99% leads to a gap when container is wider than step circle width * 10 */

    width: calc(100% - var(--measure-dimension-z-space-0));
    position: absolute;
    border-radius: 100px;
  }
}

.stepIncomplete {
  background-color: var(--color-base-surface-surface-bold, #b3b3b3);
  border-radius: 100%;
  width: 12px;
  height: 12px;
}

.step {
  border-radius: 100%;
  border: var(--measure-dimension-stroke-sm, 2px) solid var(--color-base-border-border-primary-color);
  width: 20px;
  height: 20px;
  position: relative;
  background-color: white;

  >* {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}