.headerWrapper {
    border-bottom: var(--measure-dimension-stroke-sm) solid
        var(--color-base-border-light);
    padding: var(--measure-dimension-padding-3xl);
    display: grid;
    column-gap: var(--measure-dimension-gap-lg);
    grid-template-columns: 48px 1fr;
}

.centerLine {
    display: flex;
    column-gap: var(--measure-dimension-gap-md);
    z-index: 0;
}

.topLine {
    display: flex;
    justify-content: space-between;

    .centerLine {
        display: flex;
        align-items: center;
    }
}

.appLink {
    margin-right: auto;
}

.eAppIdLabel {
    color: var(--color-states-inactive-text-inactive-text-link, #b3b3b3);
    font-size: 12px;
    font-weight: 600;
}

.goToSureify {
    font: var(--typography-buttons-button-sm);
    color: var(--color-states-inactive-text-inactive-text);
    cursor: not-allowed;

    &:link,
    &:visited {
        cursor: pointer;
        color: var(--color-base-text-link);
    }

    &.enabled:hover {
        color: var(--color-states-hover-text-hover-text-link);
    }

    & span {
        display: flex;
        align-items: center;
        gap: var(--measure-dimension-gap-sm);
    }
}

.rotateLeft {
    transform: rotate(-90deg);
}
