.container {
  display: flex;
  justify-content: center;
}

.cardContainer {
  border-radius: var(--measure-spacing-radius-sm);
  background-color: var(--color-base-surface-surface-primary);
  box-shadow: var(--shadow-elevation-elevation-light-sm);
  padding: var(--dimesion-padding-mobile);
  margin: var(--measure-spacing-margin-xs);
  min-width: 380px;
}

.tabContent {
  background-color: gray;
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-margin-xl);
}

/* Between 768px and 124px */
@media (width > 767px) {
  .cardContainer {
    margin: var(--measure-spacing-margin-md);
    padding: var(--dimesion-padding-tablet);
  }
}

/* Desktop */
@media (width > 1024px) {
  .cardContainer {
    /* max-width: 1130px; */
    width: min(100%, 1130px);
    margin-right: var(--measure-spacing-gap-2xl);
    margin-left: var(--measure-spacing-gap-2xl);
    padding: var(--dimesion-padding-desktop);
  }
}

.tabList {
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}