.cardContainer {
    border-radius: var(--measure-dimension-radius-sm);
    background-color: var(--color-base-surface-surface-primary);
    box-shadow: var(--shadow-elevation-elevation-light-sm);
}

.cardHeader {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding: var(--measure-dimension-padding-4xl);
}

.tabList {
    margin-bottom: 0;
    margin-left: var(--measure-dimension-margin-md);
}

@media screen and (max-width: 768px) {
    .tabList {
        margin-left: var(--measure-dimension-margin-sm);
        overflow-x: auto;
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
    }
}

.cardSubSection {
    padding-top: var(--measure-dimension-padding-4xl);
    padding-bottom: var(--measure-dimension-padding-4xl);
}

.cardSubSectionHeader {
    margin-bottom: var(--measure-dimension-gap-lg);
}

.cardSubSectionContent {
    display: flex;
    gap: var(--measure-dimension-gap-2xl);
}

.cardContainer {
    margin-right: var(--measure-dimension-margin-xs);
    margin-left: var(--measure-dimension-margin-xs);
    margin-bottom: var(--measure-dimension-margin-md);
    margin-top: var(--measure-dimension-margin-xl);
}

@media (min-width: 640px) {
    .cardContainer {
        margin-top: var(--measure-dimension-margin-sm);
    }
}

@media (min-width: 768px) {
    .cardContainer {
        margin-right: var(--measure-dimension-margin-sm);
        margin-left: var(--measure-dimension-margin-sm);
        margin-top: var(--measure-dimension-margin-xl);
    }
}

@media (min-width: 1024px) {
    .cardContainer {
        margin-left: var(--measure-dimension-margin-md);
        margin-right: var(--measure-dimension-margin-md);
    }
}

@media (min-width: 1194px) {
    .cardContainer {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (min-width: 1194px) {
    .cardContainer {
        margin-left: auto;
        margin-right: auto;
        max-width: 1130px;
    }
}
