.headerLinkContainer {
  display: flex;
  align-items: center;
  position: relative;
  width: fit-content;

  > :not(:last-child) {
    margin-right: var(--measure-dimension-gap-md, 0.5rem);
  }
}

.headerLinkAction {
  padding: var(--measure-dimension-padding-md, 6px);
  border-radius: var(--measure-dimension-radius-sm);

  &:hover {
    background-color: var(--color-pagination-surface-pagination-hover-fill);
    padding: var(--measure-dimension-padding-md, 6px);
    border-radius: var(--measure-dimension-radius-sm);
  }
}

.headerLinkAction::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
  width: 32px;
  height: 48px;
}

.headerLinkChevron {
  transform: rotate(90deg);
}
