.buttons {
  display: flex;
  align-items: center;
  gap: var(--measure-dimension-gap-xl);
  align-self: stretch;
}

.confirmDialog {
  align-items: flex-start;
  background: var(--color-base-surface-surface-primary);
  border-radius: var(--measure-dimension-radius-sm);
  border-top: var(--measure-dimension-stroke-2xl) solid var(--color-base-border-border-primary-color);
  box-shadow: var(--shadow-elevation-elevation-light-xl);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: var(--measure-dimension-padding-4xl);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.confirmDialogOverlay {
  animation: 150ms cubic-bezier(0.16, 1, 0.3, 1) 0s 1 normal none running k-eyOShd;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  inset: 0;
}

.message {
  margin-bottom: var(--measure-dimension-gap-xl);
  margin-top: var(--measure-dimension-gap-md);
}

.title {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.confirmTrigger {
  &.inline {
    font: var(--typography-nav-nav-links-inline-sm);
    display: inline;
    vertical-align: baseline;


    text-decoration: underline;
    text-underline-position: under;

    &:hover {
      text-decoration: none;
      color: var(--color-links-color-global-link-dark);

      &::after {
        content: none;
      }
    }
  }
}