.paymentSummaryStepContainer {
  display: flex;
  min-width: 285px;
  flex-direction: column;
  align-items: flex-start;
  /*subtracting different from margin-top being added to the paymentSummaryItem and Label psuedo classes when items wrap  */
  gap: calc(var(--measure-dimension-gap-xl, 24px) - 8px);
  align-self: stretch;
  border-radius: var(--measure-dimension-radius-sm, 4px);
}

.paymentSummaryValues {
  border: var(--measure-border-width-stroke-sm) solid
    var(--color-base-border-border-light);
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: var(--measure-dimension-padding-2xl);
  border-radius: var(--measure-dimension-radius-sm);
}

.paymentSummarySection {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
  gap: var(--measure-dimension-gap-xs);
}

.paymentSummaryLabel,
.paymentSummaryValue {
  display: inline-flex;
  flex: 1;
  align-items: baseline;
  margin-top: var(--measure-dimension-gap-md);
  white-space: nowrap;
}

.paymentSummaryLabel:after {
  content: '';
  flex: 1;
  border-bottom: var(--measure-dimension-stroke-sm, 2px) dotted
    var(--color-grayscale-color-300-gray, #b3b3b3);
  margin-left: var(--measure-dimension-gap-md, 8px);
  margin-top: var(--measure-dimension-gap-md);
}

.paymentSummaryValue::before {
  content: '';
  flex: 1;
  border-bottom: var(--measure-dimension-stroke-sm, 2px) dotted
    var(--color-grayscale-color-300-gray, #b3b3b3);
  margin-right: var(--measure-dimension-gap-md, 8px);
  margin-top: var(--measure-dimension-gap-md);
}
