.summaryStepContainer {
  display: flex;
  min-width: 285px;
  padding: var(--measure-dimension-padding-2xl, 16px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--measure-dimension-gap-xl, 24px);
  align-self: stretch;
  border-radius: var(--measure-dimension-radius-sm, 4px);
  background-color: var(--color-grayscale-color-50-gray, #f8f8f8);
}

.summaryNumbersSection {
  display: inline-flex;
  align-items: baseline;
  justify-content: space-between;
  align-self: stretch;
  flex-wrap: wrap;
}

.summaryTooltip {
  display: flex;
  flex-direction: row;
  height: var(--measure-dimension-z-space-6, 24px);
  align-items: center;
  gap: var(--measure-dimension-gap-xs, 4px);
}

.summaryLabel {
  flex: 1;
  display: inline-flex;
  white-space: nowrap;
  align-items: baseline;
}

.summaryLabel:after {
  content: '';
  flex: 1;
  border-bottom: var(--measure-dimension-stroke-sm, 2px) dotted
    var(--color-grayscale-color-300-gray, #b3b3b3);
  margin-left: var(--measure-dimension-z-space-2, 8px);
}

.summaryValue::before {
  content: '';
  flex: 1;
  border-bottom: var(--measure-dimension-stroke-sm, 2px) dotted
    var(--color-grayscale-color-300-gray, #b3b3b3);
  margin-right: var(--measure-dimension-z-space-2, 8px);
}

.summaryValue {
  display: inline-flex;
  flex: 1;
}
