.pagination {
    margin-top: var(--measure-dimension-gap-xl);
}
.pageWrapper {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-2xl);
}

.filters {
    display: flex;
    flex-direction: column;
    margin-top: var(--measure-dimension-gap-lg);
    align-items: start;
    justify-content: space-between;

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
    }
}

.carrierSelect {
    min-width: 325px;
    max-width: 400px;

    @media (max-width: 768px) {
        margin-top: var(--measure-dimension-gap-md);
        min-width: 400px;
    }
}

.carrierCell {
    display: flex;
    align-items: center;
    gap: var(--measure-dimension-gap-xl);
}
