.clickableCardContainer:not(:has(ul)) {
  > div {
    border-radius: var(----measure-dimension-radius-sm, 0.25rem);
  }

  &.disabled {
    border: var(--measure-dimension-stroke-sm) solid
      var(--color-base-border-border-subtle, #ccc);
    box-shadow: none;
  }
}

/*
* If there is no div with content and the container only contains a list of items,
* want to add a border top to the container because we remove all other listItem border-top
* styling to prevent double up borders
*/
.clickableCardContainer:has(ul:only-child) {
  border-top: var(--border-style);
  border-top-left-radius: var(--measure-dimension-radius-sm, 0.25rem);
  border-top-right-radius: var(--measure-dimension-radius-sm, 0.25rem);
}

/* When there is a list before the main card, only top card should
ave top radius and last card should have bottom radius */
.clickableCardContainer:has(ul) {
  > div {
    border-top-left-radius: var(--measure-dimension-radius-sm, 0.25rem);
    border-top-right-radius: var(--measure-dimension-radius-sm, 0.25rem);
  }

  .listItem:last-child {
    border-bottom-left-radius: var(--measure-dimension-radius-sm, 0.25rem);
    border-bottom-right-radius: var(--measure-dimension-radius-sm, 0.25rem);
  }
}

.content {
  background-color: var(
    --color-fields-surface-field-background-default-fill,
    #fff
  );
  padding: var(--measure-dimension-padding-2xl, 1rem);
  position: relative;
  width: 100%;
  border: var(--border-style);

  &.listItem {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: none;
  }

  /* This is to account for clickable cards with the ul below them, they are right against each other
  so doing it this way prevents odd outline/border clash and any movement on hover */
  &:has(a):hover:before {
    content: '';
    position: absolute;
    inset: -2px;
    border: var(--measure-dimension-stroke-sm) solid
      var(--color-states-hover-hover-primary-border, #ff4f00);
    border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  }
}

.linkContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.primaryAction::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* expands click area from anchor across whole card */
.linkArrow {
  transform: rotate(-90deg);
}

.listItem {
  &:last-of-type {
    margin-bottom: 0;
  }
}
