.clickable-card-container__container {
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  box-shadow: 0px 1.6px 3.6px 0px rgba(0, 0, 0, 0.11);
}

.clickable-card-container__container:not(:has(ul)) {
  > div {
    border-radius: var(----measure-dimension-radius-sm, 0.25rem);
  }
}

/* When there is a list before the main card, only top card should
ave top radius and last card should have bottom radius */
.clickable-card-container__container:has(ul) {
  > div {
    border-top-left-radius: var(----measure-dimension-radius-sm, 0.25rem);
    border-top-right-radius: var(----measure-dimension-radius-sm, 0.25rem);
  }

  .clickable-card-container__list-item:last-child {
    border-bottom-left-radius: var(----measure-dimension-radius-sm, 0.25rem);
    border-bottom-right-radius: var(----measure-dimension-radius-sm, 0.25rem);
  }
}

.clickable-card-container__container-disabled {
  border: 2px solid var(--color-base-border-border-subtle, #ccc);
  box-shadow: none;
}

.clickable-card-container__content {
  align-items: center;
  background-color: var(
    --color-fields-surface-field-background-default-fill,
    #fff
  );
  display: flex;
  padding: var(--measure-dimensionpadding-xxl, 1rem);
  position: relative;
  justify-content: space-between;
  width: 100%;

  &:has(a):hover {
    outline: 1px solid var(--color-states-hover-hover-primary-border, #ff4f00);
  }
}

.clickable-card-container-primary-action::before {
  content: '';
  position: absolute;
  inset: 0;
  z-index: 1;
}

/* expands click area from anchor across whole card */
.clickable-card-container__link-arrow {
  transform: rotate(-90deg);
}

.clickable-card-container__list-item {
  margin: var(--measureDimensionZSpace0, 0.125rem) 0;
}
