.container,
.item {
    display: flex;
}

.text {
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.container {
    align-items: center;
    vertical-align: middle;
    flex-flow: row nowrap;
    line-height: var(--measure-line-height-font-line-height-medium);
    gap: var(--measure-dimension-gap-sm);
}

.disabled {
    color: var(--color-states-inactive-inactive-text, #b3b3b3);
}
