.h1 {
  composes: h1 from '../../styles/globals.css';
}

.subtext {
  composes: subtext from '../../styles/globals.css';
}

.cardHeader {
  display: flex;
  flex-flow: row wrap;
  align-items: baseline;
  padding: var(--measure-dimension-padding-4xl);
  gap: var(--measure-dimension-padding-lg);
}
