.productSelection {
    padding: var(--measure-dimension-gap-lg);

    .selectionTitle {
        color: var(--color-base-text-text-primary);
        font-feature-settings: 'liga' off, 'clig' off;
        padding: var(--measure-dimension-gap-lg) 0;
    }

    .productWrapper {
        .illustrationsList {
            border-radius: var(--measure-dimension-radius-md, 8px);
            border: var(--measure-dimension-stroke-xs) solid
                var(--color-base-border-border-light);
            margin-inline: var(--measure-dimension-gap-lg);
        }
    }

    .product {
        display: flex;
        align-items: center;
        padding: var(--measure-dimension-gap-lg);
        gap: var(--measure-dimension-gap-md);
    }

    .cursorPointer {
        cursor: pointer;
    }

    .addIllustration {
        margin-left: auto;

        &:hover {
            &:after {
                content: none;
            }
        }
    }

    .noProducts {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            color: var(--color-status-text-status-error-text);
        }
    }
}
