.productSelection {
    overflow-y: auto;
    padding: var(--measure-dimension-gap-lg);

    .selectionTitle {
        color: var(--color-base-text-primary);
        font-feature-settings: 'liga' off, 'clig' off;
        padding: var(--measure-dimension-gap-lg) 0;
    }

    .noProducts {
        display: flex;
        flex-direction: column;
        align-items: center;

        .icon {
            color: var(--color-status-text-status-error-text);
        }
    }

    .displayProducts {
        gap: var(--measure-dimension-gap-md);
        margin-left: var(--measure-dimension-margin-xs);
        margin-top: var(--measure-dimension-gap-2xl);
        &:hover {
            &:not(:disabled):after {
                content: none;
            }
        }
    }

    .chevron {
        color: var(--color-base-icon-default);
    }
    .arrowDown {
        transform: rotate(180deg);
    }
}
