.systematicPrograms {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    th,
    td {
        padding: var(--measure-dimension-padding-lg)
            var(--measure-dimension-padding-2xl);
        font: var(--typography-content-body-sm);
    }
    th {
        font-weight: 700;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.setUp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
    a {
        font: var(--typography-content-body-sm);
        font-weight: 700;
    }
}

.toggle,
.toggleInactive {
    button {
        border: 2px solid;
    }
    p {
        font: var(--typography-content-body-sm) !important;
    }
}

.toggle {
    button {
        background-color: var(
            --toggle-default-surface-toggle-selected-fill,
            #00628b
        );
        border-color: var(
            --toggle-default-surface-toggle-selected-fill,
            #00628b
        );
        span {
            background-color: var(--base-surface-surface-carrier, #f8f8f8);
        }
    }
}

.toggleInactive {
    button {
        background-color: var(
            --toggle-default-surface-toggle-default-fill,
            #ededed
        );
        border-color: var(
            --toggledDefault-border-toggle-default-border,
            #676767
        );
        span {
            background-color: var(
                --toggledDefault-border-toggle-default-border,
                #676767
            );
        }
    }
}

.typeCell {
    width: 152px;
}

.paymentAmountCell {
    width: 155px;
}

.frecuencyCell {
    width: 115px;
}

.nextPaymentCell {
    width: 132px;
}

.statusCell {
    width: 132px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--status-text-status-error-text, #db004f);
}

.emptyTableCell {
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 100%;
}

.actionCell {
    width: 172px;
}

td.actionCell {
    display: flex;
    gap: 8px;
    a {
        font-size: 500;
        text-decoration: underline;
        &:hover {
            text-underline-offset: 1px;
            text-decoration-thickness: 1px;
        }
    }
}
