.systematicPrograms {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    th,
    td {
        padding: var(--measure-dimension-padding-lg)
            var(--measure-dimension-padding-2xl);
        font-size: 14px;
    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.setUp {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 8px;
}

.toggle {
    button {
        background-color: var(
            --toggle-default-surface-toggle-selected-fill,
            #00628b
        );
        border: 2px solid
            var(--toggle-default-surface-toggle-selected-fill, #00628b);
        span {
            background: var(--base-surface-surface-carrier, #f8f8f8);
        }
    }
    p {
        font-size: 14px !important;
    }
}
.toggleInactive {
    button {
        background: var(--toggle-default-surface-toggle-default-fill, #ededed);
        border: 2px solid
            var(--toggledDefault-border-toggle-default-border, #676767);
    }
    span {
        background: var(--toggledDefault-border-toggle-default-border, #676767);
    }
    p {
        font-size: 14px !important;
    }
}

.typeCell {
    width: 152px;
}

.paymentAmountCell {
    width: 155px;
}

.frecuencyCell {
    width: 115px;
}

.nextPaymentCell {
    width: 132px;
}

.paymentTypeCell {
    width: 322px;
}
.statusCell {
    width: 132px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--status-text-status-error-text, #db004f);
}

.emptyTableCell {
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 100%;
}

.actionCell {
    display: flex;
    gap: 8px;
    a {
        font-size: 500;
        text-decoration: underline;
        &:hover {
            text-underline-offset: 1px;
            text-decoration-thickness: 1px;
        }
    }
}
