.chipX {
  align-items: center;
  background: var(--color-chip-chip-primary-fill);
  border-color: var(--color-chip-chip-primary-border);
  border-radius: var(--measure-dimension-radius-max);
  border-width: var(--measure-dimension-stroke-sm);
  color: var(--color-chip-chip-primary-text);
  display: flex;
  gap: var(--measure-dimension-gap-md);
  padding: var(--measure-dimension-padding-sm)
    var(--measure-dimension-padding-2xl);
}

.button {
  color: var(--color-base-icon-icon-action);

  &:hover {
    color: var(--color-base-icon-icon-action-hover);
  }

  &:focus-visible {
    border-radius: var(--measure-dimension-radius-max);
    outline-color: var(--color-states-focus-focus-border);
    outline-style: solid;
    outline-offset: 7px;
    outline-width: var(--measure-dimension-stroke-sm);
  }
}
