.addAddress {
  margin-top: var(--measure-dimension-gap-xl);
  /* !important is here to override bloom styles from button */
  padding: 0 !important;
  gap: var(--measure-dimension-gap-sm, 0.25rem);
}

.editAddress {
  color: var(--color-secondary-color-secondary);

  &:hover:not(:disabled) {
    color: var(--color-secondary-color-secondary);

    &::after {
      background-color: var(--color-secondary-color-secondary);
    }
  }

  &::after {
    color: currentColor;
  }
}
