.container,
.item {
  display: flex;
  align-items: center;
}

.text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 0em;
  text-indent: 0px;
}

.container {
  line-height: var(--measure-line-height-font-line-height-medium);
}

.item {
  margin-left: var(--measure-dimension-gap-xs, 0.25rem);
}
