.container {
    background-color: var(--color-base-surface-primary);
}

.breadcrumb:hover:after {
    content: none;
}

.transactionSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1 0 0;
}

.transactionLayout {
    padding: var(--measure-dimension-z-space-4);
    flex-direction: column;
}

.transactionLayoutAccordion {
    border: 1px solid rgb(var(--color-100-gray));
    flex-direction: column;
    padding: var(--measure-dimension-z-space-4) 0
        var(--measure-dimension-z-space-4) 0;
}

.transactionAccordionHeader {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: var(--measure-dimension-z-space-1);
    padding: 0px var(--measure-dimension-z-space-4) 0px
        var(--measure-dimension-z-space-4);
}

.itemsList {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-z-space-2);
    padding: 4px;
}

.caseActionFieldsContainer {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-z-space-4);
    max-width: 28rem;
}

.prioritizeCaseButtonContainer {
    display: flex;
    gap: var(--measure-dimension-z-space-4);
    align-items: start;
    width: 100%;
    justify-content: start;
}

.caseStatuscontainer {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: var(--measure-dimension-gap-md);
    padding: var(--measure-dimension-padding-2xl);

    background: white;
    border-radius: 4px;

    border: 1px solid var(--color-grayscale-color-200-gray);
}

.caseStatusRow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--measure-dimension-gap-md);
}
