.customFileUpload {
    font-family: var(--font-family-primary);
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
    padding: 0.4em;
    padding-left: 1.2em;
    padding-right: 1.2em;
    margin-bottom: 10em;

    --font-weight-semibold: 600;
    --button-border-width: 3px;
    --button-border-style: solid;
    --button-border-radius: var(--measure-dimension-button-button-default-radius);

    align-items: center;
    border-radius: var(--button-border-radius);
    color: var(--color-button-primary-button-primary-default-text);
    cursor: pointer;

    background-color: var(--color-button-primary-button-primary-default-fill, #fff);
    border: var(--button-border-width) var(--button-border-style) var(--color-base-border-border-subtle);
    color: var(--color-button-primary-button-primary-default-text);
}
.iconInput {
    --iconSize: 24px;
    padding-left: calc(var(--iconSize) + var(--measure-dimension-gap-lg) + var(--measure-spacing-padding-lg));
    padding-right: calc(var(--iconSize) + var(--measure-spacing-padding-lg));
    width: 100%;
    border-radius: var(--measure-border-radius-radius-md);
    border-left-width: var(--measure-border-width-stroke-sm);
}

.linkDocumentInput {
    border-radius: var(--measure-border-radius-radius-md);
    border-left-width: var(--measure-border-width-stroke-sm);
    padding-left: calc(var(--iconSize) + var(--measure-dimension-gap-lg) + var(--measure-dimension-padding-2xl));
}

.linkedDocument {
    width: 400px;
}

.input {
    display: none;
}

.detailContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
}

.title {
    font-size: 14px;
}

.subTitle {
    font-size: 14px;
    color: var(--color-base-text-text-secondary);
}

.autoCompleteContainer {
    width: 400px;
    @media screen and (max-width: 600px) {
        width: 100%;
    }
}
