.form {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-3xl);
}

.formFields {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-margin-md);
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
}

.remove {
  border-color: var(--color-status-surface-status-error-border-alt, #db004f);
}

.cancel {
  align-self: center;
}
