.border {
  border: var(--border-style);
}
.border-t {
  border-top: var(--border-style);
}

.border-b {
  border-bottom: var(--border-style);
}

.border-l {
  border-left: var(--border-style);
}

.border-r {
  border-right: var(--border-style);
}
