:root,
.root,
#root,
#docs-root {
  --color-button-primary-button-primary-default-fill: var(--color-primary-color-primary);
  --color-button-primary-button-primary-border: var(--color-primary-color-primary);
  --color-button-primary-button-primary-default-text: var(--color-grayscale-color-white);
  --color-button-primary-button-primary-hover-fill: var(--color-primary-color-primary-lighter);
  --color-button-primary-button-primary-hover-border: var(--color-primary-color-primary-lighter);
  --color-button-secondary-button-secondary-hover-text: var(--color-grayscale-color-900-gray);
  --color-button-primary-button-primary-pressed-fill: var(--color-primary-color-primary-light);
  --color-button-primary-button-primary-pressed-border: var(--color-primary-color-primary-light);
  --color-button-primary-button-primary-pressed-text: var(--color-grayscale-color-white);
  --color-button-primary-button-primary-selected-fill: var(--color-primary-color-primary-light);
  --color-button-primary-button-primary-selected-border: var(--color-primary-color-primary-light);
  --color-button-primary-button-primary-selected-text: var(--color-grayscale-color-900-gray);

  --color-button-secondary-text-button-secondary-selected-text: var(--color-grayscale-color-900-gray);
  --color-button-secondary-border-button-secondary-selected-border: var(--color-primary-color-primary);
  --color-button-secondary-surface-button-secondary-selected-fill: var(--color-primary-color-primary-light);
  --color-button-secondary-border-button-secondary-pressed-border: var(--color-primary-color-primary);
  --color-button-secondary-surface-button-secondary-pressed-fill: var(--color-primary-color-primary-lighter);
  --color-button-secondary-border-button-secondary-hover-border: var(--color-primary-color-primary);
  --color-button-secondary-surface-button-secondary-hover-fill: var(--color-primary-color-primary-lightest);
  --color-button-secondary-border-button-secondary-default-border: var(--color-primary-color-primary);

  --color-pagination-border-pagination-default-border: var(--color-primary-color-primary);
  --color-pagination-surface-pagination-default-indicator: var(--color-primary-color-primary);
  --color-pagination-surface-pagination-hover-fill: var(--color-primary-color-primary-lightest);
  --color-pagination-surface-pagination-hover-indicator-fill: var(--color-primary-color-primary);
  --color-pagination-border-pagination-selected-border: var(--color-primary-color-primary);
  --color-pagination-surface-pagination-selected-fill: var(--color-primary-color-primary-lightest);
  --color-pagination-surface-pagination-selected-indicator-fill: var(--color-primary-color-primary);

  --color-button-group-border-button-group-item-selected-border: var(--color-primary-color-primary);
  --color-button-group-surface-button-group-item-selected-fill: var(--color-primary-color-primary-lighter);
  --color-button-group-border-button-group-item-hover-border: var(--color-primary-color-primary);
  --color-button-group-surface-button-group-item-hover-fill: var(--color-primary-color-primary-lightest);

  --color-chip-surface-chip-hover-fill: var(--color-primary-color-primary-lightest);
  --color-chip-border-chip-hover-border: var(--color-primary-color-primary);
  --color-chip-surface-chip-selected-fill: var(--color-primary-color-primary-lightest);
  --color-chip-border-chip-selected-border: var(--color-primary-color-primary);

  --color-toggle-default-surface-toggle-selected-fill: var(--color-primary-color-primary);
  --color-toggle-default-surface-toggle-selected-inactive-fill: var(--color-primary-color-primary-lightest);

  --color-toggle-contrast-surface-toggle-contrast-selected-fill: var(--color-primary-color-primary);
  --color-toggle-contrast-surface-toggle-contrast-selected-inactive-indicator-fill: var(--color-primary-color-primary-light);

  /* XG: don't know what this maps to honestly */
  --color-toggle-default-toggle-contrast-selected-inactive-icon: var(--color-states-inactive-text-inactive-text);

  --color-element-radio-checkbox-default-surface-element-indicator-selected-fill: var(--color-primary-color-primary);
  --color-element-radio-checkbox-default-surface-element-indicator-selected-fill: var(--color-primary-color-primary-lightest);
  --color-element-radio-checkbox-default-border-element-hover-border: var(--color-accent-color-accent-one);
  --color-element-radio-checkbox-default-border-element-selected-border: var(--color-primary-color-primary);
  --color-element-radio-checkbox-default-border-element-selected-inactive-border: var(--color-secondary-color-secondary-lightest);

  --color-element-radio-checkbox-contrast-surface-element-contrast-indicator-selected-fill: var(--color-primary-color-primary);
  --color-element-radio-checkbox-contrast-border-element-contrast-selected-inactive-border: var(--color-primary-color-primary-dark);
  --color-element-radio-checkbox-contrast-border-element-contrast-hover-border: var(--color-accent-color-accent-one);
  --color-element-radio-checkbox-contrast-border-element-contrast-selected-border: var(--color-primary-color-primary);
  --color-element-radio-checkbox-contrast-surface-element-contrast-selected-inactive-fill: var(--color-primary-color-primary-dark);

  --color-base-border-border-primary-color: var(--color-primary-color-primary);
  --color-base-border-border-secondary-color: var(--color-secondary-color-secondary);

  --color-base-text-text-link: var(--color-primary-color-primary-light);
  --color-base-text-text-link-contrast: var(--color-primary-color-primary-light);
  /* don't know if this should be primary or secondary */
  --color-base-icon-icon-action: var(--color-secondary-color-secondary-light);
  --color-base-icon-icon-tooltip: var(--color-accent-color-accent-one);
  --color-base-icon-icon-header: var(--color-accent-color-accent-one);

  --color-states-hover-border-hover-border: var(--color-accent-color-accent-one);
  --color-states-selected-border-selected-border: var(--color-primary-color-primary);
  --color-states-hover-surface-hover-fill: var(--color-primary-color-primary-lighter);
  --color-states-hover-surface-hover-fill-alt: var(--color-primary-color-primary-lightest);
  --color-states-hover-border-hover-contrast-border: var(--color-secondary-color-secondary-dark);
  --color-states-hover-border-hover-contrast-border: var(--color-secondary-color-secondary-lighter);
  --color-states-hover-hover-text-link: var(--color-primary-color-primary);
  --color-states-hover-text-hover-text-link-contrast: var(--color-primary-color-primary-lighter);
  --color-states-hover-icon-hover-icon-action: var(--color-primary-color-primary-dark);

  --color-states-selected-border-selected-contrast-border: var(--color-secondary-color-secondary-light);
  --color-states-selected-surface-selected-fill-alt: var(--color-secondary-color-secondary-light);
  --color-states-selected-selected-text-link: var(--color-primary-color-primary);
  --color-states-selected-text-selected-text-link-contrast: var(--color-primary-color-primary-light);

  --color-fields-border-field-hover-border: var(--color-accent-color-accent-one);
  --color-fields-border-field-active-border: var(--color-primary-color-primary);

  --color-loader-loader-part-one: var(--color-primary-color-primary);
  --color-loader-loader-part-two: var(--color-primary-color-primary);
  --color-loader-loader-part-three: var(--color-primary-color-primary-lighter);

  /**
  * DATEPICKER
  * =========
  **/
  --color-date-picker-item-border-date-picker-item-hover-border: var(--color-accent-color-accent-one);
  --color-date-picker-item-surface-date-picker-item-selected-fill: var(--color-primary-color-primary-lightest);
  --color-date-picker-item-surface-date-picker-item-range-fill: var(--color-primary-color-primary-lightest);
  --color-date-picker-item-border-date-picker-item-selected-border: var(--color-primary-color-primary);

  /**
  * FIELDS
  * =========
  **/
  --color-fields-surface-field-default-fill: var(--color-grayscale-color-white);
  --color-fields-border-field-default-border: var(--color-grayscale-color-200-gray);
  --color-fields-border-field-hover-border: var(--color-accent-color-accent-one);
  --color-fields-border-field-active-border: var(--color-primary-color-primary);

  /*
  * MEASURES
  * ========
  */
  --measure-dimension-button-button-default-radius: var(--measure-dimension-radius-md);
}