@import '~@zdx/bloom/css';
@import '~@zdx/bloom/component-styles';
@import './everly/theme.css';
@import './spacing.css';

/*
* ELEMENTS
* ========
*/
/* Global font color set on html rather than using global * selector to not override color styles coming from bloom */
html {
  color: var(--color-base-text-text-primary, #212121);
}

a {
  color: var(--color-base-text-text-link, #1e359c);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(
      --color-base-border-border-secondary-color,
      #1e359c
    );
    text-underline-position: under;
    text-decoration-thickness: 2px;
  }
}

/*
* TYPOGRAPHY
* ==========
*/

/* TODO: this needs some thinking through, possibly use postcss-extend library to be able to extend
  classes from design system to set heading values */
h1 {
  font-family: Poppins;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px; /* 128.571% */
}

h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0em;
  text-indent: 0px;
}

@media (min-width: 500px) {
  h1 {
    font-family: Poppins;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 44px; /* 122.222% */
  }

  h2 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0em;
    text-indent: 0px;
  }
}

/* TODO: these need to be updated with correct variables */
button:focus-visible,
a:focus-visible {
  outline: 2px solid #0d69d4;
  border-radius: 0.75rem;
  outline-offset: 2px;
}

/*
* ACCESSIBILITY
* =============
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
