.detail {
    color: var(--color-base-text-text-secondary);
}

.row {
    position: relative;
}

.tableHeader button {
    outline-offset: -2px;
}

.caseLink {
    color: transparent;
    display: block;
    height: 100%;
    left: 0;
    outline-offset: -2px;
    position: absolute;
    width: 100%;
    &:focus,
    &:hover {
        border-radius: 0;
        color: transparent;
        z-index: 1;
    }
    &:hover {
        &:after {
            content: none;
        }
        .caseLinkText {
            display: block;
        }
    }
    /* This is the styling for the tooltip the shows for the "table row" link */
    & .caseLinkText {
        background: #212121;
        border-radius: 4px;
        color: #fff;
        display: none;
        padding: 12px;
        position: absolute;
        width: auto;
        bottom: -44px;
    }
}
