.illustrationItem {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: var(--measure-dimension-gap-lg) var(--measure-dimension-gap-lg);
    cursor: pointer;

    &:hover {
        background-color: var(--color-states-hover-surface-hover-fill-alt);
    }

    &.selected {
        background-color: var(--color-states-hover-surface-hover-fill);
    }

    .status {
        margin-left: auto;
        display: flex;
    }
    .rotateLeft {
        transform: rotate(-90deg);
    }
    .menu {
        margin-left: var(--measure-dimension-gap-lg);
    }
}
