.customFieldTemplate {
    margin-bottom: var(--measure-dimension-gap-xl);
}

.children {
    margin-top: var(--measure-dimension-z-space-4, 0.125rem);
    margin-bottom: var(--measure-dimension-z-space-4, 0.125rem);
}
