.customFieldTemplate {
    margin-bottom: var(--measure-dimension-gap-xl);
}

.children {
    margin-top: var(--measure-dimension-z-space-0, 0.125rem);
    margin-bottom: var(--measure-dimension-z-space-2, 0.125rem);
    width: 100%;
}
