.customFieldTemplate {
    margin-bottom: var(--measure-dimension-gap-xl);
}

.children {
    margin-top: var(--measure-dimension-z-space-0, 0.125rem);
    margin-bottom: var(--measure-dimension-z-space-2, 0.125rem);
    width: 100%;
}

.noMargin {
    padding-left: 2px;
}

.labelRequired {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.requiredAsterisk {
    color: #ff3300;
}
