.tag {
  --border-radius-radius-sm: var(--measure-dimension-radius-sm)
  --tag-width: min-content;

  width: var(--tag-width);
  border-style: solid;
  border-width: var(---measure-dimension-stroke-xs, 1px);
  display: inline-flex;
  padding: var(--measure-dimension-padding-none, 0px) var(--measure-dimension-padding-lg, 8px);
  align-items: center;
  gap: var(--measure-dimension-gap-none, 0px);
  border-radius: var(--border-radius-radius-sm, 4px);
  color: var(--color-base-text-text-primary, #212121);
  border-color:  var(--color-base-border-border-bold, #B3B3B3);
  background: var(--color-base-surface-surface-tertiary, #EDEDED);


  &.white {
    border-color: var(--color-base-border-border-subtle, #cccccc);
    background: var(--color-base-surface-surface-primary, #ffffff);
  }

  &.information {
    border-color: var(--color-status-surface-status-information-border-alt, #005FED);
    background: var(--color-status-surface-status-information-light, #F2F7FE);
    color: var(--color-status-text-status-information-text, #005FED);
  }

  &.selected {
    border-color: var(--color-base-border-border-primary-color, #FF7500);
    background: var(--color-states-selected-selected-primary-fill, #FFC899);
  }
}
