.bodyContainer {
    background: var(--color-grayscale-color-white);
    box-shadow: var(--shadow-elevation-elevation-light-sm);
    border-radius: var(--measure-dimension-radius-md);
    flex: 1;
    max-width: 1440px;
    margin: var(--measure-dimension-z-space-2);
    min-height: 100vh;
    padding: var(--measure-dimension-z-space-12);
}

@media screen and (max-width: 1024px) {
    .bodyContainer {
        box-shadow: none;
        border-radius: 0;
        margin: 0;
        padding: var(--measure-dimension-z-space-6);
    }
}
