.policyAcknowledgment {
  padding: var(--measure-dimension-padding-2xl);
  background-color: var(--color-base-surface-surface-secondary);
  margin-top: var(--measure-dimension-gap-lg);

  div {
    flex-wrap: nowrap;

    label {
      flex: 1;
    }
  }

  .formError {
    button {
      border-color: var(--color-status-border-status-error-border-alt);

      &:hover {
        border-color: var(--color-status-border-status-error-border-alt);
      }
    }
  }
}

.policyAcknowledgmentActions {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: var(--measure-dimension-gap-lg);
}

.viewPolicyDocument {
  display: flex;
  color: var(--color-base-text-text-link);
  margin-top: var(--measure-dimension-gap-lg);

  /* override the global consumer anchor hover style */
  a:hover {
    text-decoration: none;
  }
}

.policyDetails {
  color: var(--color-base-text-text-secondary);
}
