.formContainer {
  text-align: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);

  @media (width >=500px) {
    min-width: 358px;
  }
}

.formGroup {
  position: relative;
  width: 100%;

  &:has(:focus-visible) {
    outline-style: solid;
    outline-width: var(--measure-dimension-stroke-sm);
    outline-offset: 2px;
    outline-color: var(--color-states-focus-focus-border);
    border-radius: var(--measure-dimension-radius-md, 8px);
  }
}

.input {
  height: 60px;
  width: 100%;
  padding: var(--measure-dimension-padding-2xl);
  border-color: var(--color-base-border-border-subtle);
  border-width: var(--measure-dimension-stroke-sm);
  border-style: solid;
  border-radius: var(--measure-dimension-radius-md);
  background-color: var(--color-fields-surface-field-default-fill);

  &::placeholder {
    color: var(--color-states-inactive-inactive-text);
  }

  &:hover {
    border-color: var(--color-states-hover-border-hover-border);
  }

  &:focus {
    outline: none;
  }

  &:disabled {
    background-color: var(--color-states-inactive-surface-inactive-fill);
    border-color: var(--color-states-inactive-border-inactive-border);
  }

  &.inValid {
    border-color: var(--color-status-border-status-error-border);
    color: var(--color-status-text-status-error-text);
  }

  &.phone {
    padding-left: 35px;
    padding-right: 35px;
  }
}

.countryCode {
  left: 18px;
  position: absolute;
  top: 19px;
}

.icon {
  position: absolute;
  right: 18px;
  top: 19px;
}

.mfaOptionsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-lg);
  }
}

.mfaOptions {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mfaOption {
  display: flex;
  gap: var(--measure-dimension-gap-md);
  align-items: center;
}

.resend {
  .small.spinnerButton {
    display: inline-flex;
    padding: 0;
  }
}

.submit {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
}

.policyViewLogo {
  display: flex;
  justify-content: center;
  margin-bottom: var(--measure-dimension-gap-xl);
  margin-top: var(--measure-dimension-gap-lg);
}

.footer {
  text-align: left;
  border-top: var(--border-style);
}

@media (width >=767px) {
  .policyViewLogo {
    margin-bottom: var(--measure-dimension-padding-2xl);
    margin-top: var(--measure-dimension-gap-lg);
  }

  .formContainer {
    padding: var(--measure-dimension-padding-4xl) 144px;
  }

  .submit {
    margin-left: 0;
    margin-right: 0;
  }
}
