.container {
  gap: var(--field-container-gap, 0);
  display: flex;
  flex-direction: column;
}

.value {
  display: flex;
  line-height: 22px;
  padding: var(--measure-dimension-padding-xs, 0.25rem) 0;

  &.large {
    margin: var(--measure-dimension-gap-sm, 0.25rem) 0;
  }
}

.icon {
  margin-left: var(--measure-dimension-gap-lg, 1rem);
}

.caption {
  color: var(--color-base-text-text-secondary, #676767);
}
