.field-data__container--large {
  > *:not(:last-child) {
    margin-bottom: var(--measureDimensionGapXs, 0.25rem);
  }
}
.field-data__value {
  padding: var(--measureDimensionPaddingXs, 0.25rem) 0 var(--measureDimensionPaddingXs, 0.25rem);
  display: flex;
}

.field-data__icon {
  margin-left: var(--measureDimensionGapL, 1rem);
}

.field-data__caption {
  color: var(--colorBaseTextTextSecondary, #676767);
}
