@import url(./spacing.css);

#producer-onboarding-maintenance {
  /* TODO: Kinda guessing at these names */
  --dimesion-padding-mobile: var(--measure-dimension-padding-2xl);
  --dimesion-padding-tablet: var(--measure-dimension-padding-3xl);
  --dimesion-padding-desktop: var(--measure-dimension-padding-4xl);

  font: var(--typography-content-body-sm);

  /* TODO: once the typography variables are exported from bloom, replace these with font: var(--typography-desktop-headline-1-d) */
  h1 {
    font: var(--typography-desktop-headline-1-d);
  }

  /* TODO: once the typography variables are exported from bloom, replace these with font: var(--typography-desktop-headline-2-d) */
  h2 {
    font: var(--typography-desktop-headline-2-d);
  }

  h3 {
    font: var(--typography-desktop-headline-3-d);
  }

  .cta {
    color: var(--color-base-text-text-link);
    text-decoration: underline;
    text-underline-position: under;
    cursor: pointer;

    &:hover {
      text-decoration: none;
    }
  }

  :global(.card-container) {
    border-radius: var(--measure-spacing-radius-sm);
    background-color: var(--color-base-surface-surface-primary);
    box-shadow: var(--shadow-elevation-elevation-light-sm);
    padding: var(--dimesion-padding-mobile);
    margin: var(--measure-spacing-margin-xs);
    min-width: 380px;
    height: 100%;

    /* Between 768px and 1024px */
    @media (width > 767px) {
      margin: var(--measure-spacing-margin-md);
      padding: var(--dimesion-padding-tablet);
    }

    @media (width > 1024px) {
      width: min(100%, 1130px);
      margin-right: var(--measure-spacing-gap-2xl);
      margin-left: var(--measure-spacing-gap-2xl);
      padding: var(--dimesion-padding-desktop);
    }
  }

  :global(.card-section) {
    position: relative;
    padding: var(--dimesion-padding-mobile) 0;
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-lg);

    &:first-of-type {
      padding-top: 0;
    }

    &::after {
      content: '';
      position: absolute;
      right: calc(var(--dimesion-padding-mobile) * -1);
      left: calc(var(--dimesion-padding-mobile) * -1);
      bottom: 0;
      height: var(--measure-dimension-stroke-sm, 2px);
      background-color: var(--Base-Border-border-light, #ededed);
    }

    &:last-of-type {
      padding-bottom: 0;

      &::after {
        content: none;
      }
    }
  }

  :global(.pom_content-wrapper) {
    display: flex;
    flex-direction: column;
    gap: var(--measure-dimension-gap-xl);
  }

  :global(.pom_ordered-list) {
    list-style-position: inside;
    list-style-type: decimal;
  }

  :global(.pom_flex-column) {
    display: flex;
    flex-direction: column;
  }

  /* Between 768px and 124px */
  @media (width > 767px) {
    .card-section {
      padding: var(--dimesion-padding-tablet) 0;
      width: 100;

      &::after {
        right: calc(var(--dimesion-padding-tablet) * -1);
        left: calc(var(--dimesion-padding-tablet) * -1);
      }
    }
  }

  /* Desktop */
  @media (width > 1024px) {
    .card-section {
      padding: var(--dimesion-padding-desktop) 0;

      &::after {
        right: calc(var(--dimesion-padding-desktop) * -1);
        left: calc(var(--dimesion-padding-desktop) * -1);
      }
    }
  }
}
