.tableBody td {
    white-space: nowrap;
    &,
    button {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    & button {
        max-width: 100%;
    }
}

.noResults:before {
    /* hides the shadow for sticky scrolling since this cell is full width */
    content: none !important;
}
