.container {
  padding: var(--measure-dimension-padding-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-3xl);
}

.summaryContainer {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
  background-color: var(--color-base-surface-surface-secondary);
  padding: var(--measure-dimension-padding-2xl);
}

.detailWrapper {
  display: grid;
  grid-column-gap: var(--measure-dimension-gap-lg);
  grid-row-gap: var(--measure-dimension-gap-2xl);
  align-self: stretch;
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
  height: 204px;
}

.divider {
  border: 1px solid var(--color-base-border-border-light);
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
}

@media screen and (max-width: 768px) {
  .detailWrapper {
    grid-auto-rows: auto;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
  }
}
