.title {
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}

.text {
    margin-bottom: 8px;
    margin-top: 0px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
}
.disabledAccordion {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--color-50-gray) / var(--tw-bg-opacity, 1));
}
.disabledContent {
    --tw-border-opacity: 1;
    border-color: rgb(var(--color-100-gray) / var(--tw-border-opacity, 1));
    pointer-events: none;
}
