.userBadge {
  border-radius: 100%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* These are not set in bloom, so custom variables to allow for updates
  depending on carrier */
  background-color: var(--user-badge-background-color);
  color: var(--user-badge-text-color);
}
