@import url(@/tokens/css/index.css);

:root,
.root,
#root,
#docs-root {
  /* TODO: import these from the design system */
  --font-family-buttons: 'Poppins';
  --font-weight-semibold: 600;
  --button-border-width: 3px;
  --button-border-radius: var(--measureDimensionRadiusMax);
}

.button {
  align-items: center;
  border-radius: var(--button-border-radius);
  color: var(--buttonPrimaryButtonPrimaryText, #212121);
  cursor: pointer;
  display: flex;
  font-family: var(--font-family-buttons);
  font-feature-settings: 'clig' off, 'liga' off;
  gap: var(--gap-none, 0px);
  justify-content: center;
  padding: var(--padding-lg, 8px) var(--measureDimensionPaddingXxxxxxl, 48px);
  text-align: center;

  /* Primary button */
  &.button--primary {
    background-color: var(--buttonPrimaryButtonPrimaryFill, #FFF);
    /* TODO: review border weight */
    border: var(--button-border-width) solid var(--buttonPrimaryButtonPrimaryBorder, #FF7500);
    color: var(--buttonPrimaryButtonPrimaryText, #212121);
  }

  &.button--primary:hover {
    background-color: var(--colorButtonPrimaryButtonPrimaryHoverFill);
    border-color: var(--colorButtonPrimaryButtonPrimaryHoverBorder);
    color: var(--colorButtonPrimaryButtonPrimaryHoverText);
  }

  &.button--primary:active {
    background-color: var(--colorButtonPrimaryButtonPrimaryPressedFill);
    border-color: var(--colorButtonPrimaryButtonPrimaryPressedBorder);
    color: var(--colorButtonPrimaryButtonPrimaryPressedText);
  }

  /* TODO: is the selected state used */
  &.button--primary--selected {
    background-color: var(--colorButtonPrimaryButtonPrimarySelectedFill);
    border-color: var(--colorButtonPrimaryButtonPrimarySelectedBorder);
    color: var(--colorButtonPrimaryButtonPrimarySelectedText);
  }

  &.button--primary:disabled {
    background-color: var(--colorButtonPrimaryButtonPrimaryInactiveFill);
    /* TODO: review border weight */
    border: var(--button-border-width) solid var(--colorButtonPrimaryButtonPrimaryInactiveBorder);
    color: var(--colorButtonPrimaryButtonPrimaryInactiveText);
  }

  /* Secondary button */

  &.button--secondary {
    background-color: var(--colorButtonSecondaryButtonSecondaryFill, #FFF);
    /* TODO: review border weight */
    border: var(--button-border-width) solid var(--colorButtonSecondaryButtonSecondaryBorder, #FF7500);
    color: var(--colorButtonSecondaryButtonSecondaryText, #212121);
  }

  &.button--secondary:hover {
    background-color: var(--colorButtonSecondaryButtonSecondaryHoverFill);
    border-color: var(--colorButtonSecondaryButtonSecondaryHoverBorder);
    color: var(--colorButtonSecondaryButtonSecondaryHoverText);
  }

  &.button--secondary:active {
    background-color: var(--colorButtonSecondaryButtonSecondaryPressedFill);
    border-color: var(--colorButtonSecondaryButtonSecondaryPressedBorder);
    color: var(--colorButtonSecondaryButtonSecondaryPressedText);
  }

  /* TODO: is the selected state used */
  &.button--secondary--selected {
    background-color: var(--colorButtonSecondaryButtonSecondarySelectedFill);
    border-color: var(--colorButtonSecondaryButtonSecondarySelectedBorder);
    color: var(--colorButtonSecondaryButtonSecondarySelectedText);
  }

  &.button--secondary:disabled {
    background-color: var(--colorButtonSecondaryButtonSecondaryInactiveFill);
    /* TODO: review border weight */
    border: 3px solid var(--colorButtonSecondaryButtonSecondaryInactiveBorder);
    color: var(--colorButtonSecondaryButtonSecondaryInactiveText);
  }

  &.button--large {
    font-size: var(--measureFontSizingFontSizeMedium);
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    line-height: var(--measureLineHeightFontLineHeight3xLarge);
  }

  &.button--small {
    font-size: var(--measureFontSizingFontSizeXSmall);
    font-style: normal;
    font-weight: var(--font-weight-semibold);
    line-height: var(--measureLineHeightFontLineHeight2xLarge);
    padding: var(--measureDimensionPaddingSm) var(--measureDimensionPaddingXxl);
  }
}

.button:focus-visible {
  outline-style: solid;
  outline-width: 2px;
  outline-offset: 6px;
  outline-color: var(--colorStatesFocusFocusBorder);
}