.cardContainer {
  border-radius: var(--measure-dimension-radius-sm);
  background-color: var(--color-base-surface-surface-primary);
  box-shadow: var(--shadow-elevation-elevation-light-sm);
  padding: var(--dimesion-padding-mobile);
  min-width: 380px;
  margin: var(--measure-spacing-gap-lg);
}

/* Between 768px and 124px */
@media (width > 767px) {
  .cardContainer {
    margin: var(--measure-spacing-gap-2xl);
    padding: var(--dimesion-padding-tablet);
  }
}

/* Desktop */
@media (width > 1024px) {
  .cardContainer {
    max-width: 1130px;
    margin-right: var(--measure-spacing-gap-2xl);
    margin-left: var(--measure-spacing-gap-2xl);
    padding: var(--dimesion-padding-desktop);
  }
}

@media screen and (max-width: 768px) {
  .tabList {
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
  }
}
