.linkContainer {
  --icon-color: var(--color-states-selected-selected-text-link, #00628b);
  --icon-color--hover: var(--color-states-selected-selected-text-link, #00628b);
  --icon-color--visited: var(
    --color-states-selected-selected-text-link,
    #00628b
  );
  --button-border-radius: var(--measure-dimension-button-button-default-radius);

  display: flex;
  align-items: center;
  color: var(--color-base-text-text-link, #00628b);
  position: relative;
  width: max-content;
  padding: 0 2px;

  > *:not(:last-child) {
    margin-right: var(--measure-dimension-gap-xs, 0.25rem);
  }

  svg {
    fill: var(--icon-color);
  }

  &:hover {
    color: var(--color-states-hover-hover-text-link, #003b54);
    svg {
      fill: var(--icon-color--hover);
    }
    &::after {
      content: '';
      background-color: var(--color-states-hover-hover-text-link, #003b54);
      bottom: -2px;
      height: 2px;
      left: 0;
      position: absolute;
      width: 100%;
    }
  }

  &:focus,
  &:focus-visible {
    outline: 2px solid var(--color-states-focus-focus-border, #37a2d8);
    border-radius: var(--button-border-radius);
  }

  &.expand {
    width: 100%;
  }
}

/* FOR LINK BUTTON ONLY */
.linkContainer:disabled {
  color: var(--color-states-inactive-inactive-text-link, #b3b3b3);
  cursor: not-allowed;

  &:hover::after {
    content: none;
  }
}

/*This is a link that looks like a button*/
.button {
  padding: var(--measure-dimension-padding-lg)
    var(--measure-dimension-padding-6xl);
  /* TODO: what is the correct hover behavior here */
  &:hover {
    text-decoration: none;
  }

  &:hover::after {
    content: none;
  }

  &:focus,
  &:focus-visible {
    outline-style: solid;
    outline-width: solid;
    outline-offset: 2px;
    outline-color: var(--color-states-focus-focus-border);
    border-radius: var(--button-border-radius);
  }
}
