.transactionWrapper {
    background-color: var(--color-grayscale-color-white);
    border-radius: var(--measure-dimension-radius-sm);
    display: flex;
    flex-direction: column;

    .filters {
        display: grid;
        grid-template-columns: 1fr;
        gap: var(--measure-dimension-padding-2xl);
        padding: 0 var(--measure-dimension-padding-4xl)
            var(--measure-dimension-padding-4xl);

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
        }
    }

    .filterGroup {
        display: flex;
        align-items: anchor-center;
        gap: 0 var(--measure-dimension-padding-2xl);
        flex-wrap: wrap;
    }
    .transactionTypeFilterLabel {
        flex: 0 0 100%;
    }

    .table {
        display: flex;
        flex-direction: column;
        padding-bottom: var(--measure-dimension-padding-4xl);
    }

    .tableFooter {
        align-items: center;
        display: flex;
        flex-direction: column;
        padding-bottom: var(--measure-dimension-padding-4xl);

        @media (min-width: 1025px) {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
        }
    }

    .noResultsTd {
        padding: var(--measure-dimension-padding-4xl);
        text-align: center;
    }
}

.filterItem {
    min-width: 325px;
    max-width: 400px;

    &:nth-child(2) {
        @media (min-width: 768px) {
            justify-self: end;
        }
    }
}
