.intro {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);

  li {
    display: flex;
    gap: var(--measure-dimension-gap-md);
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-xl);
}

.field {
  max-width: 240px;
}

.radio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--measure-dimension-gap-md);

  .card {
    cursor: pointer;
    padding: var(--measure-dimension-padding-2xl);
    border-radius: var(--measure-dimension-radius-sm);
    border: var(--measure-dimension-stroke-sm) solid
      var(--color-base-border-border-light);
    background: var(--base-surface-surface-primary);

    &:has(input[type='radio']:checked) {
      border-color: var(
        --color-element-radio-checkbox-default-border-element-selected-border
      );
    }

    &:hover {
      border-color: var(
        --color-element-radio-checkbox-default-border-element-hover-border
      );
    }
  }
}

.withholdings {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-xl);
}

.radioGroup {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }
}

.banks {
  display: flex;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
}

.banksContainer {
  display: grid;
  gap: var(--measure-dimension-gap-lg);
  grid-template-columns: repeat(2, minmax(80px, 375px));
}

@media (width < 767px) {
  .banksContainer {
    grid-template-columns: 1fr;
    gap: var(--measure-dimension-gap-md);
  }
}

.bankContainer {
  display: flex;
  flex-direction: column;
  border: var(--measure-dimension-stroke-sm) solid
    var(--color-base-border-border-light);
  border-radius: var(--measure-dimension-radius-sm);
  padding: var(--measure-dimension-padding-2xl);
  max-width: 375px;
  cursor: pointer;
  gap: var(--measure-dimension-gap-xs);

  &:hover {
    border-color: var(--color-states-hover-border-hover-border);
  }

  &:has(input:checked) {
    border-color: var(--color-states-selected-border-selected-border);

    &:hover {
      border-color: var(--color-states-hover-border-hover-border);
    }
  }

  &:has(input:focus-visible) {
    outline: var(--measure-dimension-stroke-sm) solid
      var(--color-states-focus-focus-border);
    outline-offset: 2px;
  }
}

.paymentSummaryContainer {
  background-color: var(--color-base-surface-surface-secondary);
  padding: var(--measure-dimension-padding-3xl);
  border-radius: var(--measure-dimension-radius-sm);
}

.paymentSummaryDetails {
  display: grid;
  grid-template-columns: repeat(3, max-content);
  gap: var(--measure-dimension-gap-xl);
  padding-bottom: var(--measure-dimension-padding-xl);
  border-bottom: 2px solid var(--color-base-border-border-light);
  margin-bottom: var(--measure-dimension-gap-xl);

  @media (width < 768px) {
    grid-template-columns: repeat(2, max-content);
  }

  @media (width < 500px) {
    grid-template-columns: 1fr;
  }
}
