.menuTriggerButton {
    cursor: pointer;
    display: flex;
    align-items: center;

    letter-spacing: normal;
    text-decoration: none;

    &:focus-visible {
        border-radius: var(--measure-dimension-radius-sm);
    }
}
