.chipRadioItem {
    align-items: center;
    background: var(--color-chip-surface-chip-default-fill);
    border-color: var(--color-chip-border-chip-default-border);
    border-radius: var(--measure-dimension-radius-sm);
    border-width: var(--measure-dimension-stroke-sm);
    color: var(--color-base-text-text-primary);
    display: flex;
    gap: var(--measure-dimension-gap-md);
    padding: var(--measure-dimension-padding-xs)
        var(--measure-dimension-padding-2xl);
    white-space: nowrap;
    width: fit-content;
    height: 32px;

    &[data-state='checked'] {
        background: var(--color-chip-surface-chip-selected-fill);
        border-color: var(--color-chip-border-chip-selected-border);
        color: #ffffff;
    }

    &:last-of-type {
        margin-right: 0;
    }
}

.chipRadioGroup {
    flex-direction: row;
    gap: var(--measure-dimension-gap-md);
}
