.container {
    position: relative;
    background-color: var(--color-base-surface-surface-secondary);
}

.link {
    z-index: 2;
}

.insightsHeader,
.filtersHeader {
    padding: var(--measure-dimension-gap-2xl);
    display: flex;
    gap: var(--measure-dimension-gap-lg);
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;

    &.pinned {
        border-bottom-color: var(--color-base-border-border-bold);
        padding: var(--measure-dimension-padding-2xl);
        background-color: var(--color-base-surface-surface-secondary);
        box-shadow: var(--shadow-elevation-elevation-light-sm);
    }
}

.filtersHeader {
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--color-base-surface-surface-primary);

    &.pinned {
        z-index: 3;
    }

}

.insightsHeader {
    position: sticky;
    top: var(--pinned-height);
    z-index: 1;
    background-color: var(--color-base-surface-surface-secondary);
}

.insightsHeaderDropdown {
    width: 306px;
}