.title {
  padding-bottom: var(--measure-dimension-padding-4xl);
  padding-top: var(--measure-dimension-padding-4xl);
}

.individualNameFormFields {
  display: flex;
  flex-direction: row;
  gap: var(--measure-dimension-gap-lg);

  @media (width < 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.formField {
  max-width: 400px;
}

.submitButtons {
  display: flex;
  gap: var(--measure-dimension-gap-lg);
  margin-top: var(--measure-dimension-margin-sm);
}
