# Some values must match consumer experience because that is what the user passing
# through this sso is authenticating with
# this uses dotenv which does not strip out quotes around keys so all of these
# values must not include quotes unless the value should include them
# QA
JWT_SECRET=MYPOLICYVIEW_JWT_SECRET
AUTH0_CALLBACK_URL=http://sso.mypolicyview.local:3000
AUTH0_CLIENT_ID=MYPOLICYVIEW_AUTH0_CLIENT_ID
AUTH0_CLIENT_SECRET=MYPOLICYVIEW_AUTH0_CLIENT_SECRET
AUTH0_ISSUER_BASE_URL=https://login.qa.zinnia.com
AUTH0_AUDIENCE=https://qa.api.zinnia.io
MYPOLICYVIEW_BASE_URL=DOMAIN_WITH_PORT_WHERE_MYPOLICYVIEW_IS_RUNNING
MYPOLICYVIEW_COOKIE_DOMAIN=.mypolicyview.local
