.validationContainer {
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.checkboxContainer {
    display: flex;
    flex-direction: row;
}
.errorMessage {
    margin-top: 0.5rem;
}
