.h1 {
    font-family: var(--font-family-primary);
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
}

.caption {
    font-family: var(font-family-primary);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
}

.cardHeader {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    padding: var(--measure-dimension-padding-4xl);
}
