.tabGroup {
}

.tabList {
  align-items: center;
  border-bottom: 2px solid var(--color-base-border-border-subtle, #ccc);
  display: flex;
  margin-bottom: var(--measure-dimension-margin-md);
}

.tabItem {
  color: var(--color-base-text-text-secondary, #676767);
  display: flex;
  gap: var(--measure-dimension-gap-md, 8px);
  padding: var(--measure-dimension-padding-lg)
    var(--measure-dimension-padding-2xl);
  position: relative;

  a {
    color: var(--color-base-text-text-secondary, #676767);
    text-decoration: none;
  }
}

.tabItem:hover {
  background: var(--color-base-surface-surface-secondary, #f8f8f8);
  color: var(--color-base-text-text-primary, #212121);
}

.tabItem:after {
  content: '';
  height: 2px;
  background-color: var(--color-base-border-border-secondary-color, #00628b);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  transition: width 0.3s ease;
}

.tabItem[data-state='active'],
.selected,
.selected a {
  color: var(--color-base-text-text-link, #00628b);
}

.tabItem[data-state='active']:after,
.selected:after {
  border-radius: var(--measure-dimension-radius-xs, 2px)
    var(--measure-dimension-radius-xs, 2px) 0px 0px;
  border-bottom: var(--stroke-lg, 4px) solid
    var(--color-base-border-border-secondary-color, #00628b);
  bottom: -2px;
  content: '';
  left: 0;
  position: absolute;
  /* transition: border-bottom 0.3s ease; */
  width: 100%;
}
