/** Individual Card Styles **/

.icon {
  flex-shrink: 0;
  margin-right: 0.5rem;
  align-self: center;
}

.content {
  display: flex;
}

.rowWrapper {
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex: 1;
}

.additionalInfo {
  margin: 0 var(--measure-dimension-gap-lg, 1rem);
}

.allocationsContainer {
  display: inline-flex;
  flex: initial;
}

.popoverContent {
  > *:not(:last-child) {
    margin-bottom: var(--measure-dimension-padding-xl, 0.75rem);
  }
}

.error {
  color: var(--color-status-text-status-error-text, #db004f);
}

.additionalContent {
  background-color: var(--color-base-surface-surface-secondary);
  padding: var(--measure-dimension-padding-2xl, 1rem);
  display: flex;
  align-items: start;
  flex-direction: column;
  gap: var(--measure-dimension-gap-lg);
  margin-top: var(--measure-dimension-gap-lg);

  a {
    text-decoration: none;
  }
}

.disabledTransaction {
  color: var(--color-states-inactive-text-inactive-text-link);
  pointer-events: none;
}

.maxWidth50 {
  max-width: 50%;
}

@media (width > 767px) {
  .additionalContent {
    flex-direction: row;
    gap: var(--measure-dimension-gap-2xl);
  }
}
