.headerContainer {
  margin-bottom: var(--measure-dimension-gap-xl);
}

.policyDetails {
  margin-top: var(--measure-dimension-gap-lg);
}

@media (width > 768px) {
  .policyDetails {
    margin-top: var(--measure-dimension-gap-none);
  }

  .headerContainer {
    display: flex;
    justify-content: space-between;
  }
}
