.tableHeader > *:first-child {
    display: flex;
    justify-content: space-between;
    gap: var(--measure-dimension-gap-md);
    align-items: center;
}

.tablePlaceholder {
    width: 16px;
    height: 16px;
}
