.trigger {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: var(--measure-dimension-gap-sm);

  .chevron {
    transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
  }

  &[data-state='open'] {
    .chevron {
      transform: rotate(180deg);
    }
  }
}

.trigger.nested {
  margin-top: var(--measure-dimension-margin-xs);

  .chevron {
    width: var(--measure-dimension-font-size-font-size-medium);
    height: var(--measure-dimension-font-size-font-size-medium);
  }
  &[data-state='open'] {
    .chevron {
      transform: rotate(90deg);
    }
  }
}

.content {
  overflow: hidden;
}

.content.nested {
  margin-top: var(--measure-dimension-margin-xs);
}

.tags {
  display: flex;
  gap: var(--measure-dimension-gap-sm);
  flex-wrap: wrap;
  margin-top: var(--measure-dimension-margin-xs);
}

.item {
  gap: 16px;
  display: flex;
  flex-direction: column;

  .sectionLabel {
    font: var(--typography-labels-label-lg);
  }

  /* For nested items */
  .item .sectionLabel {
    font: var(--typography-labels-label-md);
  }
}

.item.nested {
  gap: 0;
}

.content[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}
.content[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}
