.container {
    position: relative;
    background-color: var(--color-base-surface-surface-secondary);
}

.link {
    z-index: 2;
}

.filtersHeader {
    display: flex;
    gap: var(--measure-dimension-gap-lg);
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;

    &.pinned {
        border-bottom-color: var(--color-base-border-border-bold);
        padding: var(--measure-dimension-padding-2xl);
        box-shadow: var(--shadow-elevation-elevation-light-sm);
    }
}

.filtersHeader {
    justify-content: space-between;
    position: sticky;
    top: 0;
    background-color: var(--color-base-surface-surface-primary);
    z-index: 3;
    padding-bottom: var(--measure-dimension-gap-lg);

    &.pinned {
        z-index: 4;
    }
}
