.filtersHeader {
    display: flex;
    gap: var(--measure-dimension-gap-lg);
    align-items: center;
    transition: all 0.3s ease-in-out;
    border: 1px solid transparent;
    border-left-width: 0;
    border-right-width: 0;
    position: sticky;
    top: 0;
    background-color: var(--color-base-surface-surface-primary);
    z-index: 3;
    padding-bottom: var(--measure-dimension-gap-lg);
    justify-content: space-between;

    &.pinned {
        border-bottom-color: var(--color-base-border-bold);
        padding: var(--measure-dimension-padding-2xl)
            var(--measure-dimension-padding-2xl) 0;
        box-shadow: var(--shadow-elevation-elevation-light-sm);
        z-index: 4;
    }
}

.filters {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    gap: var(--measure-dimension-gap-lg);
    align-items: anchor-center;
    justify-content: flex-end;

    > * {
        flex: 1;
        min-width: 240px;
        max-width: 400px;
    }

    &.pinned {
        z-index: 4;
    }
}

.tabsNav {
    flex-basis: 100%;
}
