.tooltipContainer {
  --measure-dimension-tooltip-max-width: 320px;
  background-color: var(--color-base-surface-surface-darker, #212121);
  border-radius: var(--measure-dimension-radius-sm, 0.25rem);
  box-shadow: var(--shadow-elevation-elevation-dark-08);
  color: var(--color-base-text-text-light, #fff);
  max-width: var(--measure-dimension-tooltip-max-width);
  padding: var(--measure-dimension-padding-xl, 0.75rem);
  width: var(--measure-dimension-tooltip-max-width);
}

.tooltipTrigger {
  display: flex;
  align-items: center;
}