.close {
  margin-top: var(--measure-dimension-gap-3xl);
  width: 100%;
}

.wrapper {
  gap: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.errorIcon {
  color: var(--color-status-icon-status-error-icon);
}
