.breadcrumbs {
  a {
    font: var(----typography-nav-links-sm);
  }

  span {
    position: relative;

    &::after {
      content: '/';
      right: 0;
      margin: 0 var(--measure-dimension-gap-md);
    }

    &.active {
      text-decoration: underline;
    }

    &:last-child {
      &::after {
        content: none;
      }
    }
  }
}
