.icon {
  flex-shrink: 0;
  margin-right: 0.5rem;
}

.content {
  display: flex;
  align-items: center;
}

.centerItem {
  margin-left: 2rem;
  margin-right: 1rem;
}

.popoverContent {
  > *:not(:last-child) {
    margin-bottom: var(--measure-dimension-padding-xl, 0.75rem);
  }
}
