.container {
    @media (min-width: 768px) {
        background-color: #fff;
        padding: var(--measure-dimension-padding-3xl)
            var(--measure-dimension-padding-4xl);
        border-radius: var(--measure-dimension-radius-sm);
        box-shadow: 0px 0.3px 0.9px 0px rgba(0, 0, 0, 0.07),
            0px 1.6px 3.6px 0px rgba(0, 0, 0, 0.11);
        margin-bottom: 92px;
        min-height: 100vh;
    }
}

.searchContainer {
    display: flex;
    justify-content: flex-start;
    align-items: start;
    gap: 1rem;
    @media (max-width: 1024px) {
        display: block;
    }
}

.searchActions {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 44px;

    @media (min-width: 768px) {
        width: auto;
    }
}

.statusRow {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;

    @media (min-width: 640px) {
        margin-top: 1rem;
        margin-bottom: 1rem;
        flex-direction: row;
        align-items: center;
    }
}
