.activeItem {
  color: var(--color-grayscale-color-900-gray);
  background-color: var(--color-grayscale-color-white);
  border-radius: var(--measure-dimension-z-space-1);
  box-shadow: var(--shadow-elevation-elevation-light-xs);
  border: var(--color-nav-drawer-2-nav-drawer-item-2-active-border) 1px solid;
}
.activeItem svg {
  color: var(--color-nav-drawer-2-nav-drawer-item-2-active-border) !important;
}
.activeDocType {
  color: var(--color-nav-drawer-2-nav-drawer-item-2-active-border) !important;
}

.itemhover:hover{
  color: var(--color-base-text-text-link);
  background-color: var(--color-base-surface-surface-secondary);
  border-radius: var(--measure-dimension-z-space-1);
}
