.chartContainer {
    display: block;

    @media screen and (min-width: 1440px) {
        display: grid;
        grid-template-rows: 1fr;
    }
}

.chartContainerRightAlign {
    @media screen and (min-width: 1440px) {
        grid-template-columns: minmax(0, 1fr) minmax(0, 25%);
    }
}

.chartContainerLeftAlign {
    @media screen and (min-width: 1440px) {
        grid-template-columns: minmax(0, 25%) minmax(0, 1fr);
    }
}

.noBorder {
    border: none;
}

.dashboardCard {
    position: relative;
    border-radius: var(--radius-sm, 4px);
    box-shadow: 0px 0.3px 0.9px 0px rgba(0, 0, 0, 0.07),
        0px 1.6px 3.6px 0px rgba(0, 0, 0, 0.11);
    overflow: hidden;
    margin-top: 24px;
}

.dashboardCardFirst {
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.filterContainer,
.timeFilterContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    flex-wrap: wrap;
    margin: var(--measure-dimension-gap-lg) 0;
    gap: var(--measure-dimension-gap-lg);

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        justify-content: space-between;
    }
}

.filterGroup {
    display: flex;
    flex-basis: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--measure-dimension-gap-lg);

    @media screen and (min-width: 1025px) {
        flex-basis: 50%;
    }
}

.multiselectDropdowns {
    @media screen and (min-width: 1025px) {
        width: 150px;
        min-width: 150px;
    }
}

.filterItem {
    @media screen and (min-width: 1025px) {
        flex: 1 1 auto;
        width: auto;
    }
}

.aiInsightsContainer {
    padding-top: var(--measure-dimension-padding-4xl);
    padding-right: var(--measure-dimension-padding-lg);
}

.tableContainer,
.paginationContainer,
.searchContainer,
.insightContainer {
    margin-top: var(--measure-dimension-gap-lg);
}

.sortIcon {
    margin-left: var(--measure-dimension-gap-md);
}

.searchContainer {
    width: 259px;
}

.aiInsightsTabContainer {
    min-height: 450px;
}

.pieChartColumn {
    align-items: center;
    border-radius: 1px 4px 4px 1px;
    background: var(--color-base-surface-surface-secondary, #f8f8f8);
    padding: var(--measure-dimension-padding-4xl);

    @media screen and (min-width: 1440px) {
        border-left: 2px solid var(--color-base-border-border-light, #ededed);
        padding: var(--measure-dimension-padding-5xl) 0 0 0;
    }
}

.chartColumn {
    flex: 1;
    min-width: 0;
}

.tableCellMaxWidth {
    max-width: 230px;
}
.paginationRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.sidebar {
    padding-left: var(--measure-dimension-padding-4xl);
    &:empty {
        display: none;
    }
}
