.consumerFooter {
  color: var(--color-base-text-text-secondary, #676767);

  > * {
    margin-bottom: var(--measure-dimension-gap-lg, 1rem);
  }
}

.border {
  border-top: 2px solid var(--color-base-border-border-light, #ededed);
}

.link {
  color: var(--color-base-text-text-link, #1e359c);
  text-decoration: underline;

  &:hover {
    color: var(--color-states-hover-hover-text-link, #003b54);
    text-decoration: none;
  }
}
