.consumer-footer {
  margin-top: var(--measureDimensionGapXl, 1.5rem);
  color: var(--colorBaseTextTextSecondary, #676767);

  > * {
    margin-top: var(--measureDimensionGapLg, 1rem);
  }
}

.consumer-footer--border {
  border-top: 2px solid var(--colorBaseBorderBorderLight, #ededed);
}

.consumer-footer__link {
  color: var(--colorBaseTextTextLink, #1e359c);
  text-decoration: underline;

  &:hover {
    color: var(--colorStatesHoverHoverTextLink, #003b54);
  }
}
