.exportContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exportContainerButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--measure-dimension-gap-md);
    cursor: pointer;

    & span {
        font: var(--typography-nav-links);
        text-align: left;
    }
}

.taskName {
    word-break: break-all;
}

/* Temporary fix to avoid chevron icon to shrink */
.chevronIcon svg {
    flex-shrink: 0;
}
