:root,
.root,
#root,
#docs-root {
  --measure-dimension-button-button-default-radius: var(
    --measure-dimension-radius-md
  );
  --color-button-primary-button-primary-fill: #121b6b;
  --color-button-primary-button-primary-border: #121b6b;
  --color-button-primary-button-primary-text: #ffffff;
  --color-button-primary-button-primary-hover-fill: #121b6b;
  --color-button-primary-button-primary-hover-border: #121b6b;
  --color-button-secondary-button-secondary-hover-text: #fff;
  --color-button-primary-button-primary-pressed-fill: #121b6b;
  --color-button-primary-button-primary-pressed-border: #121b6b;
  --color-button-primary-button-primary-pressed-text: #fff;
  --color-button-primary-button-primary-selected-fill: #121b6b;
  --color-button-primary-button-primary-selected-border: #121b6b;
  --color-button-primary-button-primary-selected-text: #fff;
}
