:root,
.root,
#root,
#docs-root {
  /*
  * COLORS
  * ======
  */
  --color-primary-color-primary: #121b6b;
  --color-primary-color-primary-lightest: #d0d2ff;
  --color-primary-color-primary-lighter: #b5bdff;
  --color-primary-color-primary-light: #8a96ff;
  --color-primary-color-primary-dark: #0f1759;
  --color-primary-color-primary-50-percent-opacity: #121b6b80;
  --color-secondary-color-secondary-lightest: #dfe5ff;
  --color-secondary-color-secondary-lighter: #bfcaff;
  --color-secondary-color-secondary-light: #99acff;
  --color-secondary-color-secondary-dark: #1a2e86;
  --color-secondary-color-secondary: #1e359c;
  --color-accent-color-accent-one: #ff4f00;
  --color-accent-color-accent-two: #ffb18d;

  --color-button-primary-button-primary-fill: var(
    --color-primary-color-primary
  );
  --color-button-primary-button-primary-border: var(
    --color-primary-color-primary
  );
  --color-button-primary-button-primary-text: var(
    --color-grayscale-color-white
  );
  --color-button-primary-button-primary-hover-fill: var(
    --color-primary-color-primary
  );
  --color-button-primary-button-primary-hover-border: var(
    --color-primary-color-primary
  );
  --color-button-secondary-button-secondary-hover-text: var(
    --color-grayscale-color-white
  );
  --color-button-primary-button-primary-pressed-fill: var(
    --color-primary-color-primary
  );
  --color-button-primary-button-primary-pressed-border: var(
    --color-primary-color-primary
  );
  --color-button-primary-button-primary-pressed-text: var(
    --color-grayscale-color-white
  );
  --color-button-primary-button-primary-selected-fill: var(
    --color-primary-color-primary
  );
  --color-button-primary-button-primary-selected-border: var(
    --color-primary-color-primary
  );
  --color-button-primary-button-primary-selected-text: var(
    --color-grayscale-color-white
  );

  --color-button-secondary-button-secondary-selected-text: var(
    --color-grayscale-color-900-gray
  );
  --color-button-secondary-button-secondary-selected-border: var(
    --color-primary-color-primary
  );
  --color-button-secondary-button-secondary-selected-fill: var(
    --color-primary-color-primary-light
  );
  --color-button-secondary-button-secondary-pressed-border: var(
    --color-primary-color-primary
  );
  --color-button-secondary-button-secondary-pressed-fill: var(
    --color-primary-color-primary-lighter
  );
  --color-button-secondary-button-secondary-hover-border: var(
    --color-primary-color-primary
  );
  --color-button-secondary-button-secondary-hover-fill: var(
    --color-primary-color-primary-lightest
  );
  --color-button-secondary-button-secondary-border: var(
    --color-primary-color-primary
  );

  --color-pagination-pagination-border-default: var(
    --color-secondary-color-secondary
  );
  --color-pagination-pagination-indicator-default: var(
    --color-secondary-color-secondary
  );
  --color-pagination-pagination-background-hover-fill: var(
    --color-secondary-color-secondary-lightest
  );
  --color-pagination-pagination-indicator-hover-fill: var(
    --color-secondary-color-secondary
  );
  --color-pagination-pagination-border-selected: var(
    --color-secondary-color-secondary
  );
  --color-pagination-pagination-background-selected-fill: var(
    --color-secondary-color-secondary-lightest
  );
  --color-pagination-pagination-indicator-selected-fill: var(
    --color-secondary-color-secondary
  );

  --color-button-group-button-group-item-primary-selected-border: var(
    --color-primary-color-primary
  );
  --color-button-group-button-group-item-primary-selected-fill: var(
    --color-primary-color-primary-lighter
  );
  --color-button-group-button-group-item-primary-hover-border: var(
    --color-primary-color-primary
  );
  --color-button-group-button-group-item-primary-hover-fill: var(
    --color-primary-color-primary-lightest
  );

  --color-chip-chip-primary-hover-fill: var(
    --color-primary-color-primary-lightest
  );
  --color-chip-chip-primary-hover-border: var(--color-primary-color-primary);
  --color-chip-chip-primary-selected-fill: var(
    --color-primary-color-primary-lightest
  );
  --color-chip-chip-primary-selected-border: var(--color-primary-color-primary);

  --color-toggle-toggle-selected-fill: var(--color-primary-color-primary);
  --color-toggle-toggle-selected-inactive-fill: var(
    --color-primary-color-primary-lightest
  );

  --color-toggle-toggle-contrast-selected-fill: var(
    --color-primary-color-primary
  );
  --color-toggle-toggle-contrast-selected-inactive-indicator: var(
    --color-primary-color-primary-light
  );
  --color-toggle-toggle-contrast-selected-inactive-icon: var(
    --color-primary-color-primary-light
  );

  --color-status-surface-status-hover-border: var(
    --color-accent-color-accent-one
  );
  --color-status-surface-status-hover-contrast-border: var(
    --color-accent-color-accent-one
  );

  --color-element-radio-checkbox-default-element-indicator-selected-fill: var(
    --color-primary-color-primary
  );
  --color-element-radio-checkbox-default-element-indicator-selected-inactive-fill: var(
    --color-primary-color-primary-lightest
  );
  --color-element-radio-checkbox-default-element-border-hover: var(
    --color-accent-color-accent-one
  );
  --color-element-radio-checkbox-default-element-border-selected: var(
    --color-primary-color-primary
  );
  --color-element-radio-checkbox-default-element-border-selected-inactive: var(
    --color-secondary-color-secondary-lightest
  );

  --color-element-radio-checkbox-contrast-element-contrast-indicator-selected: var(
    --color-primary-color-primary
  );
  --color-element-radio-checkbox-contrast-element-contrast-selected-inactive-: var(
    --color-primary-color-primary-dark
  );
  --color-element-radio-checkbox-contrast-element-contrast-border-hover: var(
    --color-accent-color-accent-one
  );
  --color-element-radio-checkbox-contrast-element-contrast-border-selected: var(
    --color-primary-color-primary
  );
  --color-element-radio-checkbox-contrast-element-contrast-border-selected-inactive: var(
    --color-primary-color-primary-dark
  );

  --color-base-border-border-primary-color: var(--color-primary-color-primary);
  --color-base-border-border-secondary-color: var(
    --color-secondary-color-secondary
  );

  --color-base-text-text-link: var(--color-secondary-color-secondary);
  --color-base-text-text-link-contrast: var(
    --color-secondary-color-secondary-light
  );
  --color-base-icon-icon-action-link-contrast: var(
    --color-secondary-color-secondary-light
  );
  --color-base-icon-icon-action-link-contrast-hover: var(
    --color-secondary-color-secondary-lighter
  );
  --color-base-icon-icon-action: var(--color-secondary-color-secondary);
  --color-base-icon-icon-action-hover: var(
    --color-secondary-color-secondary-dark
  );
  --color-base-icon-icon-tooltip: var(--color-accent-color-accent-one);
  --color-base-icon-icon-tooltip-inactive: var(--color-accent-color-accent-two);
  --color-base-icon-icon-header: var(--color-accent-color-accent-one);

  --color-states-hover-hover-primary-border: var(
    --color-accent-color-accent-one
  );
  --color-states-selected-selected-primary-border: var(
    --color-primary-color-primary
  );
  --color-states-hover-hover-primary-fill: var(
    --color-primary-color-primary-lighter
  );
  --color-states-hover-hover-primary-fill-alt: var(
    --color-primary-color-primary-lightest
  );
  --color-states-hover-hover-secondary-border: var(
    --color-secondary-color-secondary-dark
  );
  --color-states-hover-hover-secondary-contrast-border: var(
    --color-secondary-color-secondary-lighter
  );
  --color-states-hover-hover-text-link: var(
    --color-secondary-color-secondary-dark
  );
  --color-states-hover-hover-contrast-text-link: var(
    --color-secondary-color-secondary-lighter
  );
  --color-states-hover-hover-contrast-text-link: var(
    --color-secondary-color-secondary-lighter
  );
  --color-states-hover-hover-icon-action: var(
    --color-secondary-color-secondary-dark
  );

  --color-states-selected-selected-primary-border: var(
    --color-primary-color-primary
  );
  --color-states-hover-hover-primary-fill: var(
    --color-primary-color-primary-lighter
  );
  --color-states-hover-hover-primary-fill-alt: var(
    --color-primary-color-primary-lightest
  );
  --color-states-selected-selected-secondary-border: var(
    --color-secondary-color-secondary
  );
  --color-states-selected-selected-secondary-contrast-border: var(
    --color-secondary-color-secondary-light
  );
  --color-states-selected-selected-secondary-fill: var(
    --color-secondary-color-secondary-light
  );
  --color-states-selected-selected-secondary-fill: var(
    --color-secondary-color-secondary-light
  );
  --color-states-selected-selected-text-link: var(
    --color-secondary-color-secondary
  );
  --color-states-selected-selected-contrast-text-link: var(
    --color-secondary-color-secondary-light
  );

  --color-fields-border-field-border-hover: var(
    --color-accent-color-accent-one
  );
  --color-fields-border-field-border-active: var(--color-primary-color-primary);

  --color-loader-loader-part-one: var(--color-primary-color-primary);
  --color-loader-loader-part-two: var(--color-primary-color-primary);
  --color-loader-loader-part-three: var(--color-primary-color-primary-lighter);
  /*
  * MEASURES
  * ========
  */
  --measure-dimension-button-button-default-radius: var(
    --measure-dimension-radius-md
  );
}
