
:root {
    --color-primary-color-primary: #ff7500; /* #FF7500
          
          Primary color 400-orange is the action color used for UI Design in the Zahara Design System.
          
          It is reserved for important action items that need to stand out: buttons, toggles, checkboxes, radio, and other critical functional use cases. */
    --color-orange-color-600-orange: #dd4a07; /* #DD4A07
          
          Extended palette */
    --color-secondary-color-secondary: #00628b; /* Text links and action items like icons and cancel buttons. */
    --color-cerulean-color-800-cerulean: #083951; /* #083951
          
          Extended palette */
    --color-accent-color-accent-one: #ffc600; /* #FFC600
          Hover outline color for items with an orange active state. 
          
          This is also an accent color for badges and other small alert items. */
    --color-grayscale-color-white: #ffffff; /* #FFFFFF */
    --color-grayscale-color-50-gray: #f8f8f8; /* #F8F8F8 */
    --color-grayscale-color-100-gray: #ededed; /* #EDEDED
          Backgrounds, strokes, dividers, Inactive backgrounds */
    --color-grayscale-color-200-gray: #cccccc; /* #CCCCCC
          
          Default strokes */
    --color-grayscale-color-300-gray: #b3b3b3; /* #B3B3B3
          
          Inactive Text
          Inactive strokes */
    --color-grayscale-color-400-gray: #949494; /* #949494 */
    --color-grayscale-color-500-gray: #7f7f7f; /* #7F7F7F */
    --color-grayscale-color-logo-gray: #63666a; /* #63666A
          
          Gray used in the ZINNIA logo and logotype */
    --color-grayscale-color-600-gray: #676767; /* #676767
          
          Use for Section Labels and 
          Accents */
    --color-grayscale-color-700-gray: #4d4d4d; /* #4D4D4D */
    --color-grayscale-color-800-gray: #313131; /* #313131 */
    --color-grayscale-color-900-gray: #212121; /* #212121
          
          Primary Text, High Contrast Dividers */
    --color-grayscale-color-black: #000000; /* #000000 */
    --color-semantics-color-semantic-focus: #37a2d8; /* #37A2D8
          
          Used when a component/input/ */
    --color-semantics-color-semantic-information: #005fed; /* #005FED */
    --color-semantics-color-semantic-success: #007b5a; /* #007B5A
          
          Used when a required item meets the limitations set by the input */
    --color-semantics-color-semantic-warning: #b74d00; /* #B74D00
          
          Used in warning dialogues / modules */
    --color-semantics-color-semantic-error: #db004f; /* #DB004F
          
          Used in error dialogues  / modules */
    --color-semantics-color-semantic-information-light: #f2f7fe; /* #F2F7FE
           */
    --color-semantics-color-semantic-success-light: #f2f9f7; /* 
          
           */
    --color-semantics-color-semantic-warning-light: #fcf6f2; /* #FCF6F2 */
    --color-semantics-color-semantic-error-light: #fdf2f6; /* #FDF2F6 */
    --color-lime-color-400-lime: #a4ae08; /* #A4AE08
          
          Extended palette */
    --color-lime-color-500-lime: #8b9403; /* #8B9403
          
          Extended palette */
    --color-fuchsia-color-500-fuchsia: #bd58b7; /* #BD58B7
          
          Extended palette */
    --color-fuchsia-color-600-fuchsia: #973b93; /* #973B93
          
          Extended palette */
    --color-aqua-color-400-aqua: #37bcc2; /* #37BCC2
          
          Extended palette */
    --color-aqua-color-500-aqua: #489a9d; /* #489A9D
          
          Extended palette */
    --color-red-color-50-red: #fffbfa; /* #FFFBFA
          
          Extended palette */
    --color-red-color-100-red: #ffe5e0; /* #FFE5E0
          
          Extended palette */
    --color-red-color-200-red: #fec3b6; /* #FEC3B6
          
          Extended palette */
    --color-red-color-300-red: #fe8f7b; /* #FE8F7B
          
          Extended palette */
    --color-red-color-400-red: #ff6652; /* #FF6652
          
          Extended palette */
    --color-accent-color-accent-two: #ff1822; /* #FF1822
          
          Extended palette */
    --color-red-color-600-red: #da021c; /* #DA021C
          
          Extended palette */
    --color-red-color-700-red: #a20713; /* #A20713
          
          Extended palette */
    --color-red-color-800-red: #800c0f; /* #800C0F
          
          Extended palette */
    --color-red-color-900-red: #560f08; /* #560F08
          
          Extended palette */
    --color-orange-color-50-orange: #fffbf9; /* #FFFBF9
          
          Extended palette */
    --color-orange-color-100-orange: #fae7df; /* #FAE7DF
          
          100-orange is the inactive selected color for toggles radio, checkboxes and other action items.  */
    --color-orange-color-300-orange: #ffa071; /* #FFA0713
          
          Extended palette */
    --color-orange-color-500-orange: #f26003; /* #F26003
          
          Extended palette */
    --color-orange-color-700-orange: #bb3d05; /* #BB3D05
          
          Extended palette */
    --color-orange-color-800-orange: #992e04; /* #992E04
          
          Extended palette */
    --color-orange-color-900-orange: #7d2106; /* #7D2106
          
          Extended palette */
    --color-yellow-color-50-yellow: #fffcf8; /* #FFFCF8
          
          Extended palette */
    --color-yellow-color-100-yellow: #fcf0dc; /* #FCF0DC
          
          Extended palette */
    --color-yellow-color-200-yellow: #ffe3ab; /* #FFE3AB
          
          Extended palette */
    --color-yellow-color-300-yellow: #ffd576; /* #FFD576
          
          Extended palette */
    --color-yellow-color-500-yellow: #fcaf0e; /* #FCAF0E
          
          Extended palette */
    --color-yellow-color-600-yellow: #e89510; /* #E89510
          
          Extended palette */
    --color-yellow-color-700-yellow: #c57402; /* #C57402
          
          Extended palette */
    --color-yellow-color-800-yellow: #9d5400; /* #9D5400
          
          Extended palette */
    --color-yellow-color-900-yellow: #703800; /* #703800
          
          Extended palette */
    --color-lime-color-50-lime: #fdfdf1; /* #FDFDF1
          
          Extended palette */
    --color-lime-color-100-lime: #f6f5d2; /* #F6F5D2
          
          Extended palette */
    --color-lime-color-200-lime: #e1e38d; /* #E1E38D
          
          Extended palette */
    --color-lime-color-300-lime: #c0c64f; /* #C0C64F
          
          Finance classes */
    --color-lime-color-600-lime: #656c02; /* #656C02
          
          Extended palette */
    --color-lime-color-700-lime: #484e01; /* #484E01
          
          Extended palette */
    --color-lime-color-800-lime: #3a3e01; /* #3A3E01
          
          Extended palette */
    --color-lime-color-900-lime: #2c2e07; /* #2C2E07
          
          Extended palette */
    --color-aqua-color-50-aqua: #f9fdfd; /* #F9FDFD
          
          Extended palette */
    --color-aqua-color-100-aqua: #d6f0f1; /* #D6F0F1
          
          Extended palette */
    --color-aqua-color-200-aqua: #a9d8da; /* #A9D8DA
          
          Extended palette */
    --color-aqua-color-300-aqua: #7ec4c7; /* #7EC4C7
          
          Extended palette */
    --color-aqua-color-600-aqua: #377a7d; /* #377A7D
          
          Extended palette */
    --color-aqua-color-700-aqua: #2c5b5d; /* #2C5B5D
          
          Extended palette */
    --color-aqua-color-800-aqua: #1f3c3d; /* #1F3C3D
          
          Extended palette */
    --color-aqua-color-900-aqua: #152426; /* #152426
          
          Extended palette */
    --color-cerulean-color-700-cerulean: #0b4d6a; /* #0B4D6A
          
          Extended palette */
    --color-fuchsia-color-50-fuchsia: #fff5fe; /* #FFF5FE
          
          Extended palette */
    --color-fuchsia-color-100-fuchsia: #ffe9fc; /* #FFE9FC
          
          Extended palette */
    --color-fuchsia-color-200-fuchsia: #f7c9f1; /* #F7C9F1
          
          Extended palette */
    --color-fuchsia-color-300-fuchsia: #e09ed9; /* #E09ED9
          
          Extended palette */
    --color-fuchsia-color-400-fuchsia: #d47acc; /* #D47ACC
          
          Extended palette */
    --color-fuchsia-color-700-fuchsia: #752671; /* #752671
          
          Extended palette */
    --color-fuchsia-color-800-fuchsia: #4d124a; /* #4D124A
          
          Extended palette */
    --color-fuchsia-color-900-fuchsia: #320630; /* #320630
          
          Extended palette */
    --color-primary-color-primary-lightest: #ffead9; /* #FFEAD9
          
          Primary button selected, and the inactive selected color for toggles radio, checkboxes and other action items.  */
    --color-primary-color-primary-lighter: #ffc899; /* #FFC899
          
          Primary button pressed. Inactive tooltip icon. */
    --color-primary-color-primary-light: #ffac66; /* #FFAC66
          
          The inactive (white) selected color for toggles and other action items.  */
    --color-primary-color-primary-dark: #994600; /* #994600
          
          The contrast inactive selected color for toggles radio, checkboxes and other action items.  */
    --color-primary-color-primary-50-percent-opacity: #ff750080; /* #FF7500 at 50% opacity */
    --color-secondary-color-secondary-lightest: #d9e7ee; /* #D9E7EE
          Secondary button selected fill.  */
    --color-secondary-color-secondary-lighter: #99c0d1; /* #99C0D1
          
          Secondary button pressed.
          The contrast hover color for links, toggles radio, checkboxes and other action items.  */
    --color-secondary-color-secondary-light: #66a1ba; /* #66A1BA
          
          The contrast color for links, links and other action items.  */
    --color-secondary-color-secondary-dark: #003b54; /* #003B54
          
          Links hovered. */
    --color-accent-color-50-percent-black: #00000080; /* Modal overlay
           */
    --color-semantics-color-semantic-success-50-percent-opacity: #00876280; /* #008762
          
          50% of the success token */
    --color-semantics-color-semantic-pending: #ac0091; /* Pending color */
    --color-semantics-color-semantic-pending-50-percent-opacity: #ac009180; 
    --color-semantics-color-semantic-pending-light: #fbf2f9; 
    --color-semantics-color-semantic-information-50-percent-opacity: #005fed80; /* #005FED
          
          50% of the info token */
    --color-semantics-color-semantic-warning-50-percent-opacity: #c3520080; /* #C35200
          
          50% of the warning token */
    --color-semantics-color-semantic-error-50-percent-opacity: #db004f80; /* #DB004F
          
          50% of the error token */
    --color-cerulean-color-50-cerulean: #f4faff; /* #F4FAFF
          
          Extended palette */
    --color-cerulean-color-100-cerulean: #deedf9; /* #DEEDF9
          
          Extended palette */
    --color-cerulean-color-200-cerulean: #abdcfb; /* #ABDCFB
          
          Extended palette */
    --color-cerulean-color-300-cerulean: #6cc2f6; /* #6CC2F6
          
          Extended palette */
    --color-cerulean-color-400-cerulean: #37a2d8; /* #37A2D8
          
          Extended palette */
    --color-cerulean-color-500-cerulean: #0b7eae; /* #0B7EAE 
          
          Extended palette */
    --color-cerulean-color-900-cerulean: #072838; /* #072838
          
          Extended palette */
    --color-orange-color-200-orange: #ffcab0; /* #FFCAB0
          
          Extended palette */
    --color-orange-color-400-orange: #ff7500; /* #FF7500
          
          Extended palette */
    --color-red-color-500-red: #ff1822; /* #FF1822
          
          Extended palette */
    --color-semantics-color-semantic-text-highlight: #ffe485; 
    --color-cerulean-color-600-cerulean: #00628b; /* #00628B
          
          Extended palette */
    --color-yellow-color-400-yellow: #ffc600; 
    --color-chip-chip-primary-fill: #ffffff; 
    --color-chip-chip-primary-border: #cccccc; 
    --color-chip-chip-primary-text: #212121; 
    --color-chip-chip-primary-icon: #212121; 
    --color-chip-chip-primary-hover-fill: #ffead9; 
    --color-chip-chip-primary-hover-text: #212121; 
    --color-chip-chip-primary-hover-border: #ff7500; 
    --color-chip-chip-primary-selected-fill: #ffc899; 
    --color-chip-chip-primary-selected-text: #212121; 
    --color-chip-chip-primary-selected-border: #ff7500; 
    --color-chip-chip-primary-inactive-fill: #ededed; 
    --color-chip-chip-primary-inactive-border: #b3b3b3; 
    --color-chip-chip-primary-inactive-text: #b3b3b3; 
    --color-base-border-border-primary-color: #ff7500; 
    --color-base-border-border-secondary-color: #00628b; 
    --color-base-border-border-light: #ededed; 
    --color-base-surface-surface-primary: #ffffff; 
    --color-base-surface-surface-secondary: #f8f8f8; 
    --color-base-border-border-subtle: #cccccc; 
    --color-base-border-border-bold: #b3b3b3; 
    --color-base-surface-surface-tertiary: #ededed; 
    --color-base-surface-surface-quaternary: #cccccc; 
    --color-base-surface-surface-bold: #b3b3b3; 
    --color-base-surface-surface-dark: #676767; 
    --color-base-surface-surface-darker: #212121; 
    --color-base-border-border-dark: #313131; 
    --color-base-surface-surface-text-highlight: #ffe485; 
    --color-base-border-border-darker: #212121; 
    --color-base-icon-icon-action: #00628b; 
    --color-base-icon-icon-action-hover: #003b54; 
    --color-base-icon-icon-tooltip: #ff7500; 
    --color-base-icon-icon-tooltip-inactive: #ffc899; 
    --color-base-icon-icon-header: #ff7500; 
    --color-base-icon-icon-action-contrast: #ffffff; 
    --color-base-icon-icon-action-contrast-hover: #ededed; 
    --color-base-icon-icon-light: #ffffff; 
    --color-base-icon-icon-dark: #212121; 
    --color-base-icon-icon-action-link-contrast: #66a1ba; 
    --color-base-icon-icon-action-link-contrast-hover: #99c0d1; 
    --color-base-text-text-primary: #212121; 
    --color-base-text-text-secondary: #676767; 
    --color-base-text-text-link: #00628b; 
    --color-base-text-text-link-contrast: #66a1ba; 
    --color-base-text-text-light: #ffffff; 
    --color-states-hover-hover-primary-border: #ffc600; 
    --color-states-selected-selected-primary-border: #ff7500; 
    --color-states-hover-hover-primary-fill: #ffffff; 
    --color-states-hover-hover-primary-fill-alt: #ffead9; 
    --color-states-hover-hover-secondary-border: #003b54; 
    --color-states-inactive-inactive-text: #b3b3b3; 
    --color-states-inactive-inactive-text-contrast: #676767; 
    --color-states-inactive-inactive-icon: #b3b3b3; 
    --color-states-selected-selected-primary-fill: #ffc899; 
    --color-states-inactive-inactive-icon-contrast: #676767; 
    --color-states-inactive-inactive-fill: #ededed; 
    --color-states-selected-selected-primary-fill-alt: #ffead9; 
    --color-states-inactive-inactive-fill-contrast: #313131; 
    --color-states-inactive-inactive-text-link: #b3b3b3; 
    --color-states-hover-hover-secondary-contrast-border: #99c0d1; 
    --color-states-selected-selected-secondary-border: #00628b; 
    --color-states-inactive-inactive-contrast-text-link: #676767; 
    --color-states-selected-selected-secondary-contrast-border: #66a1ba; 
    --color-states-selected-selected-secondary-fill: #66a1ba; 
    --color-states-focus-focus-border: #37a2d8; 
    --color-states-selected-selected-text-link: #00628b; 
    --color-states-selected-selected-contrast-text-link: #66a1ba; 
    --color-states-hover-hover-secondary-fill: #ffffff; 
    --color-states-hover-hover-text-link: #003b54; 
    --color-states-hover-hover-contrast-text-link: #99c0d1; 
    --color-status-surface-status-hover-border: #ffc600; 
    --color-status-surface-status-hover-contrast-border: #ffc600; 
    --color-status-surface-status-information-border: #005fed80; 
    --color-status-surface-status-information-border-alt: #005fed; 
    --color-status-surface-status-success-border: #00876280; 
    --color-button-primary-button-primary-inactive-text: #b3b3b3; 
    --color-status-surface-status-pending-border: #ac009180; 
    --color-status-surface-status-warning-border: #c3520080; 
    --color-button-primary-button-primary-inactive-border: #b3b3b3; 
    --color-status-surface-status-error-border: #db004f80; 
    --color-button-primary-button-primary-inactive-fill: #ededed; 
    --color-status-surface-status-information-light: #f2f7fe; 
    --color-button-primary-button-primary-selected-text: #212121; 
    --color-button-primary-button-primary-selected-border: #ff7500; 
    --color-status-surface-status-success-light: #f2f9f7; 
    --color-status-surface-status-pending-light: #fbf2f9; 
    --color-button-primary-button-primary-selected-fill: #ff7500; 
    --color-status-surface-status-warning-light: #fcf6f2; 
    --color-status-surface-status-error-light: #fdf2f6; 
    --color-button-primary-button-primary-pressed-text: #212121; 
    --color-status-surface-status-success-border-alt: #007b5a; 
    --color-status-surface-status-pending-border-alt: #ac0091; 
    --color-status-surface-status-warning-border-alt: #b74d00; 
    --color-status-surface-status-error-border-alt: #db004f; 
    --color-status-text-status-information-text: #005fed; 
    --color-button-primary-button-primary-pressed-border: #ff7500; 
    --color-button-primary-button-primary-pressed-fill: #ffc899; 
    --color-status-text-status-success-text: #007b5a; 
    --color-button-primary-button-primary-hover-text: #212121; 
    --color-status-text-status-warning-text: #b74d00; 
    --color-status-text-status-error-text: #db004f; 
    --color-button-primary-button-primary-hover-border: #ff7500; 
    --color-status-text-status-pending-text: #ac0091; 
    --color-button-primary-button-primary-hover-fill: #ffead9; 
    --color-status-icon-status-information-icon: #005fed; 
    --color-status-icon-status-success-icon: #007b5a; 
    --color-button-primary-button-primary-text: #212121; 
    --color-status-icon-status-warning-icon: #b74d00; 
    --color-button-primary-button-primary-border: #ff7500; 
    --color-status-icon-status-error-icon: #db004f; 
    --color-button-primary-button-primary-fill: #ffffff; 
    --color-button-secondary-button-secondary-inactive-text: #b3b3b3; 
    --color-button-secondary-button-secondary-inactive-border: #b3b3b3; 
    --color-button-secondary-button-secondary-inactive-fill: #ededed; 
    --color-button-secondary-button-secondary-selected-text: #ffffff; 
    --color-button-secondary-button-secondary-selected-border: #212121; 
    --color-button-secondary-button-secondary-selected-fill: #212121; 
    --color-button-secondary-button-secondary-pressed-text: #212121; 
    --color-button-secondary-button-secondary-pressed-border: #212121; 
    --color-button-secondary-button-secondary-pressed-fill: #b3b3b3; 
    --color-button-secondary-button-secondary-hover-text: #212121; 
    --color-button-secondary-button-secondary-hover-border: #212121; 
    --color-button-secondary-button-secondary-hover-fill: #cccccc; 
    --color-button-secondary-buttton-secondary-text: #212121; 
    --color-button-secondary-button-secondary-border: #212121; 
    --color-button-secondary-button-secondary-fill: #ffffff; 
    --color-button-contrast-button-contrast-inactive-text: #676767; 
    --color-status-icon-status-pending-icon: #ac0091; 
    --color-button-contrast-button-contrast-inactive-border: #676767; 
    --color-button-contrast-button-contrast-inactive-fill: #313131; 
    --color-button-contrast-button-contrast-selected-text: #212121; 
    --color-button-contrast-button-contrast-selected-border: #ffffff; 
    --color-button-contrast-button-contrast-selected-fill: #ffffff; 
    --color-button-contrast-button-contrast-pressed-text: #ffffff; 
    --color-button-contrast-button-contrast-pressed-border: #ffffff; 
    --color-button-contrast-button-contrast-pressed-fill: #4d4d4d; 
    --color-button-contrast-button-contrast-hover-text: #ffffff; 
    --color-button-contrast-button-contrast-hover-border: #ffffff; 
    --color-button-contrast-button-contrast-hover-fill: #313131; 
    --color-button-contrast-button-contrast-text: #ffffff; 
    --color-button-contrast-button-contrast-border: #ffffff; 
    --color-button-contrast-button-contrast-fill: #212121; 
    --color-button-group-button-group-item-primary-inactive-text: #b3b3b3; 
    --color-button-group-button-group-item-primary-inactive-border: #b3b3b3; 
    --color-button-group-button-group-item-primary-inactive-fill: #ededed; 
    --color-button-group-button-group-item-primary-selected-text: #212121; 
    --color-button-group-button-group-item-primary-selected-border: #ff7500; 
    --color-button-group-button-group-item-primary-selected-fill: #ffc899; 
    --color-button-group-button-group-item-primary-hover-text: #212121; 
    --color-button-group-button-group-item-primary-hover-border: #ff7500; 
    --color-button-group-button-group-item-primary-hover-fill: #ffead9; 
    --color-button-group-button-group-item-primary-text: #212121; 
    --color-button-group-button-group-item-primary-border: #cccccc; 
    --color-button-group-button-group-item-primary-fill: #ffffff; 
    --color-nav-menu-menu-default-fill: #212121; 
    --color-nav-menu-menu-link-hover-fill: #313131; 
    --color-nav-menu-menu-link-selected-fill: #ffffff; 
    --color-nav-menu-menu-icon-default-fill: #ffffff; 
    --color-nav-menu-menu-icon-selected-fill: #212121; 
    --color-element-radio-checkbox-default-element-background-default-fill: #ffffff; 
    --color-nav-menu-menu-icon-surface-selected-fill: #ffffff; 
    --color-element-radio-checkbox-default-element-background-hover-fill: #ffffff; 
    --color-element-radio-checkbox-default-element-background-selected-fill: #ffffff; 
    --color-element-radio-checkbox-default-element-background-selected-inactive-fill: #ffffff; 
    --color-element-radio-checkbox-default-element-background-inactive-fill: #ededed; 
    --color-element-radio-checkbox-default-element-indicator-selected-fill: #ff7500; 
    --color-element-radio-checkbox-default-element-indicator-selected-inactive-fill: #ffead9; 
    --color-element-radio-checkbox-default-element-border-default: #cccccc; 
    --color-element-radio-checkbox-default-element-border-hover: #ffc600; 
    --color-fields-surface-field-background-default-fill: #ffffff; 
    --color-fields-surface-field-background-inactive-fill: #ededed; 
    --color-fields-icon-field-icon-default-fill: #212121; 
    --color-fields-border-field-border-default: #cccccc; 
    --color-fields-border-field-border-hover: #ffc600; 
    --color-fields-border-field-border-active: #ff7500; 
    --color-fields-border-field-border-success: #007b5a; 
    --color-fields-border-field-border-error: #db004f; 
    --color-fields-border-field-border-inactive: #b3b3b3; 
    --color-element-radio-checkbox-default-element-border-selected: #ff7500; 
    --color-element-radio-checkbox-default-element-border-selected-inactive: #ffead9; 
    --color-element-radio-checkbox-default-element-border-inactive: #b3b3b3; 
    --color-toggle-toggle-default-fill: #676767; 
    --color-element-radio-checkbox-contrast-element-contrast-background-default-fill: #212121; 
    --color-toggle-toggle-inactive-fill: #b3b3b3; 
    --color-element-radio-checkbox-contrast-element-contrast-background-hover-fill: #212121; 
    --color-element-radio-checkbox-contrast-element-contrast-background-selected-fill: #212121; 
    --color-toggle-toggle-selected-fill: #ff7500; 
    --color-element-radio-checkbox-contrast-element-contrast-background-inactive-fill: #313131; 
    --color-toggle-toggle-selected-inactive-fill: #ffead9; 
    --color-toggle-toggle-default-indicator: #ffffff; 
    --color-toggle-toggle-inactive-indicator: #ededed; 
    --color-toggle-toggle-default-icon: #ffffff; 
    --color-toggle-toggle-inactive-icon: #ededed; 
    --color-toggle-toggle-contrast-default-fill: #676767; 
    --color-element-radio-checkbox-contrast-element-contrast-background-selected-inactive-fill: #212121; 
    --color-element-radio-checkbox-contrast-element-contrast-indicator-selected: #ff7500; 
    --color-toggle-toggle-contrast-selected-fill: #ff7500; 
    --color-element-radio-checkbox-contrast-element-contrast-selected-inactive-: #994600; 
    --color-element-radio-checkbox-contrast-element-contrast-border-default: #ffffff; 
    --color-element-radio-checkbox-contrast-element-contrast-border-hover: #ffc600; 
    --color-element-radio-checkbox-contrast-element-contrast-border-selected: #ff7500; 
    --color-element-radio-checkbox-contrast-element-contrast-border-inactive: #676767; 
    --color-element-radio-checkbox-contrast-element-contrast-border-selected-inactive: #994600; 
    --color-toggle-toggle-contrast-inactive-indicator: #949494; 
    --color-toggle-toggle-contrast-default-indicator: #ffffff; 
    --color-toggle-toggle-contrast-selected-inactive-indicator: #ffac66; 
    --color-toggle-toggle-contrast-default-icon: #ffffff; 
    --color-toggle-toggle-contrast-inactive-icon: #949494; 
    --color-toggle-toggle-contrast-selected-inactive-icon: #ffac66; 
    --color-pagination-pagination-border-default: #00628b; 
    --color-pagination-pagination-indicator-default: #00628b; 
    --color-pagination-pagination-background-hover-fill: #d9e7ee; 
    --color-pagination-pagination-indicator-hover-fill: #00628b; 
    --color-pagination-pagination-border-selected: #00628b; 
    --color-pagination-pagination-background-selected-fill: #d9e7ee; 
    --color-pagination-pagination-indicator-selected-fill: #00628b; 
    --color-pagination-pagination-border-inactive: #b3b3b3; 
    --color-pagination-pagination-background-inactive-fill: #ededed; 
    --color-pagination-pagination-indicator-inactive-fill: #b3b3b3; 
    --color-nav-menu-menu-button-default-fill: #313131; 
    --color-nav-menu-menu-button-hover-fill: #4d4d4d; 
    --color-states-hover-hover-icon-action: #003b54; 
    --color-base-border-border-bolder: #676767; 
}