
:root {
    --measureDimensionStrokeNone: 0px;    
    --measureDimensionZSpaceNone: 0px;    
    --measureDimensionZSpace0: 2px;    
    --measureDimensionZSpace1: 4px;    
    --measureDimensionZSpace15: 6px;    
    --measureDimensionZSpace2: 8px;    
    --measureDimensionZSpace3: 12px;    
    --measureDimensionZSpace4: 16px;    
    --measureDimensionZSpace6: 24px;    
    --measureDimensionZSpace8: 32px;    
    --measureDimensionZSpace10: 40px;    
    --measureDimensionZSpace12: 48px;    
    --measureDimensionZSpace14: 56px;    
    --measureDimensionZSpace16: 64px;    
    --measureDimensionZSpace18: 72px;    
    --measureDimensionZSpace20: 80px;    
    --measureDimensionZSpace22: 88px;    
    --measureDimensionZSpace24: 96px;    
    --measureDimensionZSpace26: 104px;    
    --measureDimensionZSpace28: 112px;    
    --measureDimensionZSpace30: 120px;    
    --measureDimensionZSpace32: 128px;    
    --measureDimensionZSpace34: 136px;    
    --measureDimensionZSpace36: 144px;    
    --measureDimensionZSpace38: 152px;    
    --measureDimensionZSpace40: 160px;    
    --measureDimensionZSpace42: 168px;    
    --measureDimensionRadiusNone: 0px;    
    --measureDimensionRadiusXs: 2px;    
    --measureDimensionRadiusSm: 4px;    
    --measureDimensionRadiusMd: 8px;    
    --measureDimensionRadiusLg: 12px;    
    --measureDimensionRadiusXl: 16px;    
    --measureDimensionRadius2xl: 24px;    
    --measureDimensionRadius3xl: 32px;    
    --measureDimensionRadiusMax: 1000px;    
    --measureDimensionStrokeXs: 1px;    
    --measureDimensionStrokeSm: 2px;    
    --measureDimensionStrokeMd: 3px;    
    --measureDimensionStrokeLg: 4px;    
    --measureDimensionStrokeXl: 6px;    
    --measureDimensionStroke2xl: 8px;    
    --measureFontSizingFontSize2xSmall: 12px;    
    --measureFontSizingFontSizeXSmall: 14px;    
    --measureFontSizingFontSizeSmall: 16px;    
    --measureFontSizingFontSizeMedium: 18px;    
    --measureFontSizingFontSizeLarge: 20px;    
    --measureFontSizingFontSizeXLarge: 22px;    
    --measureFontSizingFontSize2xLarge: 24px;    
    --measureFontSizingFontSize3xLarge: 26px;    
    --measureFontSizingFontSize4xLarge: 28px;    
    --measureFontSizingFontSize5xLarge: 30px;    
    --measureFontSizingFontSize6xLarge: 32px;    
    --measureFontSizingFontSize7xLarge: 34px;    
    --measureFontSizingFontSize8xLarge: 36px;    
    --measureLineHeightFontLineHeightAuto: 0px;    
    --measureLineHeightFontLineHeightSmall: 16px;    
    --measureLineHeightFontLineHeightMedium: 18px;    
    --measureLineHeightFontLineHeightLarge: 20px;    
    --measureLineHeightFontLineHeightXLarge: 22px;    
    --measureLineHeightFontLineHeight2xLarge: 24px;    
    --measureLineHeightFontLineHeight3xLarge: 26px;    
    --measureLineHeightFontLineHeight4xLarge: 28px;    
    --measureLineHeightFontLineHeight5xLarge: 30px;    
    --measureLineHeightFontLineHeight6xLarge: 32px;    
    --measureLineHeightFontLineHeight7xLarge: 34px;    
    --measureLineHeightFontLineHeight8xLarge: 36px;    
    --measureLineHeightFontLineHeight9xLarge: 38px;    
    --measureLineHeightFontLineHeight10xLarge: 40px;    
    --measureLineHeightFontLineHeight11xLarge: 42px;    
    --measureLineHeightFontLineHeight12xLarge: 44px;    
    --measureLetterSpacingFontLetterSpacing0: 0px;    
    --measureLetterSpacingFontLetterSpacing1: 1px;    
    --measureLetterSpacingFontLetterSpacing2: 2px;    
    --measureDimensionMarginXxs: var(--measureDimensionZSpace2);    
    --measureDimensionMarginNone: var(--measureDimensionZSpaceNone);    
    --measureDimensionMarginXs: var(--measureDimensionZSpace4);    
    --measureDimensionMarginSm: var(--measureDimensionZSpace6);    
    --measureDimensionMarginMd: var(--measureDimensionZSpace8);    
    --measureDimensionMarginLg: var(--measureDimensionZSpace10);    
    --measureDimensionMarginXl: var(--measureDimensionZSpace16);    
    --measureDimensionPaddingNone: var(--measureDimensionZSpaceNone);    
    --measureDimensionPaddingXs: var(--measureDimensionZSpace0);    
    --measureDimensionPaddingSm: var(--measureDimensionZSpace1);    
    --measureDimensionPaddingMd: var(--measureDimensionZSpace15);    
    --measureDimensionPaddingLg: var(--measureDimensionZSpace2);    
    --measureDimensionPaddingXl: var(--measureDimensionZSpace3);    
    --measureDimensionPadding2xl: var(--measureDimensionZSpace4);    
    --measureDimensionPadding3xl: var(--measureDimensionZSpace6);    
    --measureDimensionPadding4xl: var(--measureDimensionZSpace8);    
    --measureDimensionPadding5xl: var(--measureDimensionZSpace10);    
    --measureDimensionGapNone: var(--measureDimensionZSpaceNone);    
    --measureDimensionGapXs: var(--measureDimensionZSpace1);    
    --measureDimensionPadding6xl: var(--measureDimensionZSpace12);    
    --measureDimensionGapMd: var(--measureDimensionZSpace2);    
    --measureDimensionGapLg: var(--measureDimensionZSpace4);    
    --measureDimensionGapXl: var(--measureDimensionZSpace6);    
    --measureDimensionGap2xl: var(--measureDimensionZSpace8);    
    --measureDimensionGap3xl: var(--measureDimensionZSpace10);    
    --measureDimensionButtonButtonDefaultRadius: var(--measureDimensionRadiusMax);    
}