
:root {
    --measure-font-sizing-font-size-2x-small: 12px;     
    --measure-font-sizing-font-size-x-small: 14px;     
    --measure-font-sizing-font-size-small: 16px;     
    --measure-font-sizing-font-size-medium: 18px;     
    --measure-font-sizing-font-size-large: 20px;     
    --measure-font-sizing-font-size-x-large: 22px;     
    --measure-font-sizing-font-size-2x-large: 24px;     
    --measure-font-sizing-font-size-3x-large: 26px;     
    --measure-font-sizing-font-size-4x-large: 28px;     
    --measure-font-sizing-font-size-5x-large: 30px;     
    --measure-font-sizing-font-size-6x-large: 32px;     
    --measure-font-sizing-font-size-7x-large: 34px;     
    --measure-font-sizing-font-size-8x-large: 36px;     
    --measure-letter-spacing-font-letter-spacing-0: 0px;     
    --measure-letter-spacing-font-letter-spacing-1: 1px;     
    --measure-letter-spacing-font-letter-spacing-2: 2px;     
    --measure-line-height-font-line-height-auto: 0px;     
    --measure-line-height-font-line-height-small: 16px;     
    --measure-line-height-font-line-height-medium: 18px;     
    --measure-line-height-font-line-height-large: 20px;     
    --measure-line-height-font-line-height-x-large: 22px;     
    --measure-line-height-font-line-height-2x-large: 24px;     
    --measure-line-height-font-line-height-3x-large: 26px;     
    --measure-line-height-font-line-height-4x-large: 28px;     
    --measure-line-height-font-line-height-5x-large: 30px;     
    --measure-line-height-font-line-height-6x-large: 32px;     
    --measure-line-height-font-line-height-7x-large: 34px;     
    --measure-line-height-font-line-height-8x-large: 36px;     
    --measure-line-height-font-line-height-9x-large: 38px;     
    --measure-line-height-font-line-height-10x-large: 40px;     
    --measure-line-height-font-line-height-11x-large: 42px;     
    --measure-line-height-font-line-height-12x-large: 44px;     
    --measure-dimension-z-space-none: 0px;     
    --measure-dimension-z-space-0: 2px;     
    --measure-dimension-z-space-1: 4px;     
    --measure-dimension-z-space-1-5: 6px;     
    --measure-dimension-z-space-2: 8px;     
    --measure-dimension-z-space-3: 12px;     
    --measure-dimension-z-space-4: 16px;     
    --measure-dimension-z-space-6: 24px;     
    --measure-dimension-z-space-8: 32px;     
    --measure-dimension-z-space-10: 40px;     
    --measure-dimension-z-space-12: 48px;     
    --measure-dimension-z-space-14: 56px;     
    --measure-dimension-z-space-16: 64px;     
    --measure-dimension-z-space-18: 72px;     
    --measure-dimension-z-space-20: 80px;     
    --measure-dimension-z-space-22: 88px;     
    --measure-dimension-z-space-24: 96px;     
    --measure-dimension-z-space-26: 104px;     
    --measure-dimension-z-space-28: 112px;     
    --measure-dimension-z-space-30: 120px;     
    --measure-dimension-z-space-32: 128px;     
    --measure-dimension-z-space-34: 136px;     
    --measure-dimension-z-space-36: 144px;     
    --measure-dimension-z-space-38: 152px;     
    --measure-dimension-z-space-40: 160px;     
    --measure-dimension-z-space-42: 168px;     
    --measure-dimension-radius-none: 0px;     
    --measure-dimension-radius-xs: 2px;     
    --measure-dimension-radius-sm: 4px;     
    --measure-dimension-radius-md: 8px;     
    --measure-dimension-radius-xl: 16px;     
    --measure-dimension-radius-xxl: 24px;     
    --measure-dimension-radius-xxxl: 32px;     
    --measure-dimension-radius-max: 1000px;     
    --measure-dimension-stroke-none: 0px;     
    --measure-dimension-stroke-xs: 1px;     
    --measure-dimension-stroke-sm: 2px;     
    --measure-dimension-stroke-md: 3px;     
    --measure-dimension-stroke-lg: 4px;     
    --measure-dimension-stroke-xl: 6px;     
    --measure-dimension-stroke-xxl: 8px;     
    --measure-dimension-radius-lg: 12px;     
    --measure-dimension-margin-none: 0px;     
    --measure-dimension-margin-xs: 16px;     
    --measure-dimension-margin-sm: 24px;     
    --measure-dimension-margin-md: 32px;     
    --measure-dimension-margin-lg: 40px;     
    --measure-dimension-margin-xl: 64px;     
    --measure-dimension-padding-none: 0px;     
    --measure-dimension-padding-xs: 2px;     
    --measure-dimension-padding-sm: 4px;     
    --measure-dimension-padding-md: 6px;     
    --measure-dimension-padding-lg: 8px;     
    --measure-dimension-padding-xl: 12px;     
    --measure-dimension-padding-xxl: 16px;     
    --measure-dimension-padding-xxxl: 24px;     
    --measure-dimension-padding-xxxxxl: 40px;     
    --measure-dimension-gap-none: 0px;     
    --measure-dimension-gap-xs: 4px;     
    --measure-dimension-gap-md: 8px;     
    --measure-dimension-gap-lg: 16px;     
    --measure-dimension-gap-xl: 24px;     
    --measure-dimension-gap-xxl: 32px;     
    --measure-dimension-gap-xxxl: 40px;     
    --measure-dimension-padding-xxxxl: 32px;     
    --measure-dimension-padding-xxxxxxl: 48px;     
}