/* H1 is used as the beginning top-level heading of the page content.

The h1 element should be visible graphically and to assistive technologies. It should not be hidden using CSS techniques. */
.typographyDesktopHeadline1D 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 44px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Defines the second-level headings of the page content.

H2 is used for the top-level sections of content on a page.  */
.typographyDesktopHeadline2D 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 32px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Not to be used as primary H2 style. Emphasis accent for H2 only. */
.typographyDesktopHeadline2AccentD 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0em;
  text-indent: 0px;
  
}    

/* Used as the third-level headings of the page content.

H3 is used for the sub-level content within the sections of content on a page.  */
.typographyDesktopHeadline3D 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used as the fourth-level headings of the page content.

H4 is used for the sub-level content within the sub-sections of content on a page.  */
.typographyDesktopHeadline4D 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* H1 is used as the beginning top-level heading of the page content.

The h1 element should be visible graphically and to assistive technologies. It should not be hidden using CSS techniques. */
.typographyTabletHeadline1T 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Defines the second-level headings of the page content.

H2 is used for the top-level sections of content on a page.  */
.typographyTabletHeadline2T 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Not to be used as primary H2 style. Emphasis accent for H2 only. */
.typographyTabletHeadline2AccentT 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used as the third-level headings of the page content.

H3 is used for the sub-level content within the sections of content on a page.  */
.typographyTabletHeadline3T 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used as the fourth-level headings of the page content.

H4 is used for the sub-level content within the sub-sections of content on a page.  */
.typographyTabletHeadline4T 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* H1 is used as the beginning top-level heading of the page content.

The h1 element should be visible graphically and to assistive technologies. It should not be hidden using CSS techniques. */
.typographyMobileHeadline1M 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 36px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Defines the second-level headings of the page content.

H2 is used for the top-level sections of content on a page.  */
.typographyMobileHeadline2M 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Not to be used as primary H2 style. Emphasis accent for H2 only. */
.typographyMobileHeadline2AccentM 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used as the third-level headings of the page content.

H3 is used for the sub-level content within the sections of content on a page.  */
.typographyMobileHeadline3M 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used as the fourth-level headings of the page content.

H4 is used for the sub-level content within the sub-sections of content on a page.  */
.typographyMobileHeadlne4M 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Use as a single line used alone or in a combination with a section or component headline. */
.typographyTitlesSubtitle 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used sometimes as a subtle option for a section header. */
.typographyLabelsLabelCaps 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Tablet */
.typographyLabelsLabelLg 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Mobile */
.typographyLabelsLabelSm 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Standard Body style for web and general product body copy. */
.typographyContentBody 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Standard Body style for emphasis of small sections of body copy. */
.typographyContentBodyBold 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Use a paragraph style for longer text sections.  */
.typographyContentBodyParagraph 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for quick read and article reference text. */
.typographyContentArticleReferences 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyContentIgnoreAnswerMedium 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyContentIgnoreAnswerSelected_ 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyContentIgnoreAnswerM 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyContentIgnoreAnswerMSelectedSemibold 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used generically for caption text. */
.typographyContentCaption 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used generically for selected caption text. */
.typographyContentCaptionSelected 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for footer copy. */
.typographyContentFooter 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for footer legal copy. */
.typographyContentFooterLegal 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for large button text. */
.typographyButtonsButtonLg 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for small button text. */
.typographyButtonsButtonSm 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for text links. */
.typographyNavLinks 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for selected text links. */
.typographyNavLinksSelected 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for nav drawer links. */
.typographyNavNavDrawer 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for selected nav drawer links. */
.typographyNavNavDrawerSelected 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Nav Default
Filters & progress bars */
.typographyNavNavMenu 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Nav Selected
Filters & progress bars */
.typographyNavNavMenuSelected 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for things like the text inside components. Tablet. */
.typographyLabelsLabelMd 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used as the label for data and content fields.  */
.typographyLabelsFieldLabel 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used sometimes as a subtle option for a component heading. */
.typographyLabelsFieldLabelCaps 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLabelsLabelLgAlt 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLabelsLabelMdAlt 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyLabelsLabelSmAlt 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used to display data points and smaller body text. */
.typographyContentBodySm 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used to display bold data points or small body text. */
.typographyContentBodySmBold 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for small text links. */
.typographyNavLinksSm 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for selected small text links. */
.typographyNavLinksSmSelected 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Use as a single line used alone or in a combination with a section or component headline. */
.typographyTitlesSubtitleAlt 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Bulleted lists are used when items should be grouped together but have no inherent order. When using a bulleted list, it is recommended that the text for each bullet is not longer than two sentences.
 */
.typographyContentListItem 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used to display policy number and other large values. */
.typographyContentValue 
 {
  
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 24px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for inline text links. */
.typographyNavLinksInline 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

/* Used for small inline text links. */
.typographyNavLinksSmInline 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

.typographyNavLinksFooterInline 
 {
  
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  letter-spacing:  
  0em;
  text-indent: 0px;
  
}    

