AUTH0_COOKIE_DOMAIN='localhost:3000'
AUTH0_COOKIE_DOMAIN_MYPOLICYVIEW='localhost:3000'
AUTH0_ISSUER_BASE_URL='https://login.dev.zinnia.com'
AUTH0_AUDIENCE='https://dev.api.zinnia.io'
NEXT_PUBLIC_BACKEND_URL='https://dev.api.zinnia.io'
NEXT_PUBLIC_MOCK_API_REQUEST='false'
NEXT_PUBLIC_BASE_URL='http://localhost:3000'
NEXT_PUBLIC_AUTH0_COOKIE_DOMAIN_MYPOLICYVIEW='localhost:3000'
AUTH0_SCOPE='openid profile email offline_access'
SESSION_DURATION_IN_MINUTES='15'
CHECK_SESSION_THRESHOLD_IN_MINUTES='13'
AUTH0_SESSION_NAME='appSession'
JWT_SECRET=''
AUTH0_CLIENT_ID=''
AUTH0_CLIENT_SECRET=''
AUTH0_COOKIE_SECURE=''
AUTH0_MANAGEMENT_API_AUDIENCE=''
# this is only set in the Vercel preview environment see .env.production
NEXT_PUBLIC_AUTH0_BASE_URL=''
NEXT_PUBLIC_DATADOG_ENV='dev'
NEXT_PUBLIC_DATADOG_APPLICATION_ID=''
NEXT_PUBLIC_DATADOG_CLIENT_TOKEN=''
PINO_LOG_LEVEL='warn'
FARMERS_IFRAME_KEY=''
NEXT_PUBLIC_FARMERS_API_BASE_URL=''
