.container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  padding: var(--measure-dimension-margin-xl, 64px)
    var(--measure-dimension-margin-md, 32px) var(--measure-dimension-margin-md)
    var(--measure-dimension-margin-md);
}

.title {
  margin-bottom: var(--measure-dimension-margin-sm, 16px);
}

.content {
  margin-top: var(--measure-dimension-padding-2xl);
}

.form {
  display: flex;
  gap: var(--measure-dimension-gap-lg);
  justify-content: flex-start;
  align-items: center;

  @media (width < 768px) {
    flex-direction: column;
  }
}

.formFields {
  display: flex;

  width: 900px;

  @media (width < 768px) {
    flex-direction: column;
    width: 100%;
  }
}

.selectFieldContainer :global(button) {
  width: 100%;

  @media (width > 768px) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:focus {
    outline: none;
  }
}

.inputWithIcon {
  position: relative;
  width: 100%;
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--color-base-text-text-subtle);
  width: 24px;
  height: 24px;
  z-index: 1;
}

.inputField {
  padding-left: 36px;
  height: 100%;
  padding-left: calc(
    var(--measure-dimension-padding-2xl) + var(--measure-dimension-gap-md) +
      24px
  );

  &:focus {
    outline: none;
  }

  @media (width > 768px) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.inputFieldContainer {
  width: 100%;

  div {
    height: 100%;
  }
}

.name {
  display: flex;
  align-items: center;
  gap: var(--measure-dimension-gap-md, 8px);
}

.findProducer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-style: dashed;
  border-color: var(--color-base-border-border-subtle);
  border-width: var(--measure-dimension-stroke-sm);
  border-radius: var(--measure-spacing-radius-sm, 4px);
  box-shadow: var(--shadow-elevation-elevation-light-sm);
  padding: var(--measure-dimension-padding-4xl);

  /* not sure about this */
  min-height: 500px;
}

.sparklesIcon {
  color: var(--icon-orange-color, #ff7500);
  width: 50px;
  height: 50px;
}

.cardContainer {
  border-radius: var(--measure-spacing-radius-sm);
  background-color: var(--color-base-surface-surface-primary);
  box-shadow: var(--shadow-elevation-elevation-light-sm);
  padding: var(--dimesion-padding-mobile);
  margin: var(--measure-spacing-margin-xs);
  min-width: 380px;

  /* Between 768px and 1024px */
  @media (width > 767px) {
    margin: var(--measure-spacing-margin-md);
    padding: var(--dimesion-padding-tablet);
  }

  @media (width > 1024px) {
    width: min(100%, 1130px);
    margin-right: var(--measure-spacing-gap-2xl);
    margin-left: var(--measure-spacing-gap-2xl);
    padding: var(--dimesion-padding-desktop);
  }
}
