@tailwind base;
@tailwind components;
@tailwind utilities;
@import './fonts.css';

:root {
    --color-secondary-color-primary: var(--color-primary-color-primary);
    --color-secondary-color-primary-lighter: var(
        --color-primary-color-primary-lighter
    );
    --color-secondary-color-primary-light: var(
        --color-primary-color-primary-light
    );
    --color-secondary-color-primary-lightest: var(
        --color-primary-color-primary-lightest
    );
    --bg-primary-lightest: var(--color-base-surface-surface-secondary);
    --bg-color-gradient-linear: linear-gradient(
        0.26turn,
        #ffc600 -12.77%,
        #ec6c00 39.25%,
        #ff1822 124.05%
    );
    --knowledge-base-sidenav-expanded-width: 250px;
    --knowledge-base-sidenav-collapsed-width: 65px;
    --people-filter-panel-width: 278px;
    --breakpoint-lg: 1024px;
}

@layer base {
    h1 {
        color: var(--color-base-text-text-carrier);
        font: var(--typography-desktop-headline-1-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-1-m);
        }
    }
    h2 {
        color: var(--color-base-text-text-carrier);
        font: var(--typography-desktop-headline-2-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-2-m);
        }
    }
    h3 {
        font: var(--typography-desktop-headline-3-d);

        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-3-m);
        }
    }
    h4 {
        font: var(--typography-desktop-headline-4-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headlne-4-m);
        }
    }

    .default-focus,
    .default-focus-icons,
    .default-focus-within {
        &:focus {
            outline: none;
        }
        &:focus-visible {
            outline: 2px solid var(--color-semantics-color-semantic-focus);
            outline-offset: 6px;
        }
    }

    .default-hover:hover {
        border-color: var(--color-states-hover-border-hover-border);
    }
}

body {
    --tw-text-opacity: 1;
    color: rgb(var(--color-900-gray) / var(--tw-text-opacity));
}

@layer utilities {
    .hide-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .hide-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .content-divider {
        @apply border-b-2 border-gray-100;
    }
    .responsive-grid {
        @apply grid;
        /* user provided variable defaults */
        --responsive-grid-column-gap: theme('spacing.8');
        --responsive-grid-row-gap: theme('spacing.4');
        --responsive-grid-column-count: 4;
        --responsive-grid-item--min-width: 15ch;

        /** Calculated values */
        --gap-count: calc(var(--responsive-grid-column-count) - 1);
        --total-gap-width: calc(
            var(--gap-count) * var(--responsive-grid-column-gap)
        );
        --responsive-grid-item--max-width: calc(
            (100% - var(--total-gap-width)) /
                var(--responsive-grid-column-count)
        );

        @screen md {
            --responsive-grid-row-gap: theme('spacing.6');
        }

        @screen lg {
            --responsive-grid-row-gap: theme('spacing.8');
        }

        column-gap: var(--responsive-grid-column-gap);
        row-gap: var(--responsive-grid-row-gap);
        /*
            The 'grid-template-columns' property is being set up for a responsive grid layout.
            - 'repeat(auto-fill, ...)' allows the grid to create as many columns as can fit in the container.
            - 'minmax(..., 1fr)' sets a minimum and maximum width for each column.
            - 'max(var(--responsive-grid-item--min-width), var(--responsive-grid-item--max-width))' ensures that each column has a minimum width
                of '--responsive-grid-item--min-width' or '--responsive-grid-item--max-width', whichever is larger, thus creating a flexible, responsive grid.
                example: --responsive-grid-item--min-width: 350px;
                then no cell will be smaller than 350px
                ensuring important text won't wrap
        */
        grid-template-columns: repeat(
            auto-fill,
            minmax(
                max(
                    var(--responsive-grid-item--min-width),
                    var(--responsive-grid-item--max-width)
                ),
                1fr
            )
        );
    }

    .responsive-padding {
        padding: theme('spacing.4');

        @screen md {
            padding: theme('spacing.6');
        }

        @screen lg {
            padding: theme('spacing.8');
        }
    }

    .caption-selected {
        font: var(--typography-content-caption-selected);
    }
    .headline-1 {
        font: var(--typography-desktop-headline-1-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-1-m);
        }
    }
    .headline-2 {
        font: var(--typography-desktop-headline-2-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-2-m);
        }
    }
    .headline-2-acc {
        font: var(--typography-desktop-headline-2-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-2-m);
        }
    }
    .headline-3 {
        font: var(--typography-desktop-headline-3-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-3-m);
        }
    }
    .headline-4 {
        font: var(--typography-desktop-headline-4-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headlne-4-m);
        }
    }
    .field-label {
        font: var(--typography-labels-field-label);
    }
    .label-lg {
        font: var(--typography-labels-label-lg);
    }
    .label-md {
        font: var(--typography-labels-label-md);
    }
    .body {
        font: var(--typography-content-body) !important;
    }
    .body-bold {
        font: var(--typography-content-body-bold) !important;
    }
    .body-sm {
        font: var(--typography-content-body-sm) !important;
    }
    .text-sm {
        font: var(--typography-content-body-sm) !important;
    }
    .text-md {
        font: var(--typography-content-body) !important;
    }

    .text-lg {
        font: var(--typography-labels-label-lg) !important;
    }

    .text-xl {
        font: var(--typography-desktop-headline-2-d) !important;
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-2-m) !important;
        }
    }
    .text-primary {
        color: var(--color-primary-color-primary);
    }
    .title {
        font: var(--typography-desktop-headline-1-d);
        @media screen and (max-width: 768px) {
            font: var(--typography-mobile-headline-1-m);
        }
    }
    .tooltip-primary {
        color: var(--color-base-icon-icon-action-text-link);
    }

    .subtitle {
        font: var(--typography-titles-subtitle);
    }
    .subtitle-alt {
        font: var(--typography-titles-subtitle-alt);
    }
    .nav-links,
    .nav-links-sm,
    .text-links,
    .text-links-sm {
        position: relative;
        font: var(--typography-nav-links);
        color: var(--color-base-text-text-link);
        text-decoration: none;

        &:hover {
            color: var(--color-states-hover-text-hover-text-link);
            text-decoration: underline;
            text-underline-offset: 5px;
            text-decoration-thickness: 2px;
        }

        [role='menuitem'] & {
            text-decoration: none;
        }
    }
    .nav-links-sm,
    .text-links-sm {
        font: var(--typography-nav-links-sm);
    }
    .footer {
        font: var(--typography-content-footer);
    }
    .footer-legal {
        font: var(--typography-content-footer-legal);
    }
    .button-lg {
        font: var(--typography-buttons-button-lg);
    }
    .button-sm {
        font: var(--typography-buttons-button-sm);
    }
    .label-alt {
        font: var(--typography-labels-label-lg-alt);
        @media screen and (max-width: 768px) {
            font: var(--typography-labels-label-md-alt);
        }
        @media screen and (max-width: 500px) {
            font: var(--typography-labels-label-sm-alt);
        }
    }
    .label {
        font: var(--typography-labels-label-lg);
        @media screen and (max-width: 768px) {
            font: var(--typography-labels-label-md);
        }
        @media screen and (max-width: 500px) {
            font: var(--typography-labels-label-sm);
        }
    }
    .content-body {
        font: var(--typography-content-body);
    }
    .content-body-sm {
        font: var(--typography-content-body-sm);
    }
}

@layer components {
    .chip {
        @apply default-focus pointer-events-auto cursor-pointer rounded-full border-2 px-4 py-0.5 font-primary text-md font-semibold leading-6 disabled:pointer-events-none disabled:cursor-auto disabled:border-gray-300 disabled:bg-gray-100 disabled:text-gray-300;

        background-color: var(--color-chip-surface-chip-default-fill);

        &:hover {
            background-color: var(--color-chip-surface-chip-hover-fill);
            border-color: var(--color-chip-border-chip-hover-border);
        }

        &:active,
        &[aria-checked='true'] {
            background-color: var(--color-chip-surface-chip-selected-fill);
            border-color: var(--color-chip-border-chip-selected-border);
            color: var(--color-base-text-text-light);
        }
    }
    .progress-bar {
        --color-progress-total: theme(colors.gray.300);
        --color-progress-border: theme(colors.white);
        --color-progress-indicator: theme(colors.fuchsia.600);

        &.mec-over {
            --color-progress-indicator: theme(colors.semantic.error.DEFAULT);
            --color-progress-total: transparent;
        }
        &.mec-even {
            --color-progress-indicator: theme(colors.secondary.DEFAULT);
            --color-progress-total: transparent;
        }
        &.not-mec {
            --color-progress-indicator: theme(colors.secondary.DEFAULT);
        }
    }
    .table-scroll-container {
        padding-bottom: 8px;
        overflow-x: auto;
        background-image:
        /*   Right side cover
            Right side shadow
            Left side cover
            Left side shadow
        */ linear-gradient(
                to left,
                white,
                white
            ),
            linear-gradient(to left, rgba(0, 0, 0, 0.2), white),
            linear-gradient(to right, white, white),
            linear-gradient(to right, rgba(0, 0, 0, 0.2), white);
        background-attachment: local, scroll, local, scroll;
        background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
        background-repeat: no-repeat;
        background-position: right center, right center, left center,
            left center;

        &:has(.sticky-right-column) {
            background-image:
            /*   Right side cover
                Right side shadow
                Left side cover
                Left side shadow
            */ linear-gradient(
                    to left,
                    white,
                    white
                ),
                linear-gradient(to left, rgba(0, 0, 0, 0.2), white),
                linear-gradient(to right, white, white),
                linear-gradient(to right, rgba(0, 0, 0, 0.2), white);
            background-attachment: local, local, local, scroll;
            background-size: 10px 100%, 10px 100%, 10px 100%, 10px 100%;
            background-repeat: no-repeat;
            background-position: right center, right center, left center,
                left center;
        }
    }

    .table-scroll-container::-webkit-scrollbar-track {
        background: rgba(248, 248, 248, 1);
    }

    .scrollable-table {
        @apply w-full table-auto border-separate border-spacing-0 rounded-lg border border-t-0 border-gray-200 font-secondary text-body-sm mix-blend-darken;
    }

    .scrollable-table thead th {
        @apply border-t;
    }

    .scrollable-table {
        &:has(.sticky-right-column) {
            @apply border-r-0;
        }
    }

    .scrollable-table tbody tr {
        @apply hover:bg-gray-50;
    }

    .scrollable-table tr.disabled-tr {
        @apply hover:bg-white;
    }

    .scrollable-table tbody tr:last-child td {
        @apply border-b-0;
    }

    .scrollable-table tbody tr:last-child td:first-child {
        @apply rounded-bl-lg;
    }

    .scrollable-table tbody tr:last-child td:last-child {
        @apply rounded-br-lg;
    }

    .scrollable-table thead tr th:first-child {
        @apply rounded-tl-lg;
    }

    .scrollable-table thead tr th:last-child {
        @apply rounded-tr-lg;
    }

    .scrollable-table th {
        @apply bg-gray-50 font-secondary text-[14px] font-bold leading-[22px] hover:bg-gray-100;
    }

    .scrollable-table th.disabled-th {
        @apply hover:bg-gray-50;
    }

    .scrollable-table th.hug,
    .scrollable-table td.hug {
        @apply w-[1px];
    }

    .scrollable-table th.right-align,
    .scrollable-table td.right-align {
        @apply text-right;
    }

    .scrollable-table th,
    .scrollable-table td {
        @apply h-[40px] max-w-[240px] overflow-hidden text-ellipsis whitespace-nowrap border-0 border-b-1 border-gray-200 px-6 text-left group-last:border-b-0;
    }

    .scrollable-table tbody tr:only-child td:only-child {
        @apply text-center;
    }

    .scrollable-table a {
        @apply text-secondary underline underline-offset-1 hover:text-secondary-dark;
    }

    .scrollable-table thead th.sticky-right-column {
        @apply sticky right-0 overflow-visible rounded-none border-r-1 bg-gray-50;
    }
    .scrollable-table tbody td.sticky-right-column {
        @apply sticky right-0 overflow-visible rounded-none border-r-1 bg-white;
    }

    /* sticky column drop-shadow */
    .scrollable-table.scrollable.scrolled-left
        thead
        th.sticky-right-column::before,
    .scrollable-table.scrollable.scrolled-left
        tbody
        td.sticky-right-column::before {
        @apply absolute -left-2.5 bottom-0 top-0 w-2.5;
        content: '';
        background: linear-gradient(to left, rgba(0, 0, 0, 0.2), transparent);
    }

    /* Prevents the table contents from showing up behind rounded borders */
    .scrollable-table.scrollable.scrolled-left
        thead
        th.sticky-right-column::after {
        @apply absolute -right-[1px] -top-[1px] bottom-0 w-2.5;
        content: '';
        background-image: url('./images/table-header-border.svg');
        background-repeat: no-repeat;
    }
    .scrollable-table.scrollable.scrolled-left
        tbody
        tr:last-child
        td.sticky-right-column::after {
        @apply absolute -bottom-[1px] -right-[1px] top-0 w-2.5 rotate-180;
        content: '';
        background-image: url('./images/table-bottom-border.svg');
    }
}

.simple-transition {
    transition: all 0.3s;
}

.flip180 {
    transform: rotate(180deg);
}

.primary-gradient-linear {
    border-image: linear-gradient(
        90deg,
        rgb(var(--color-accent-one)) 0%,
        rgb(var(--color-primary)) 75.54%,
        rgb(var(--color-accent-two)) 100%
    );
    border-image-slice: 1;
}

.primary-gradient:active {
    border-image: linear-gradient(
        90deg,
        rgb(var(--color-accent-one)) 0%,
        rgb(var(--color-primary)) 75.54%,
        rgb(var(--color-accent-two)) 100%
    );
    border-image-slice: 1;
}

.center {
    translate: -50% -50%;
    left: 50%;
    top: 50%;
}

.ag-theme-alpine .ag-header-cell {
    border-left: '1px solid var(--color-gray-200)';
    border-right: '1px solid var(--color-gray-200)';
    border-top: '4px solid var(--color-gray-900)';
    border-top-right-radius: '9px';
    border-top-left-radius: '9px';
    height: '48px';
    color: 'var(--color-gray-900)';
    font-size: '12px';
    font-family: 'var(--font-primary)';
    background-color: 'var(--color-gray-50)';
}

.case-management-row {
    max-height: 82px !important;
}

.exception-row {
    max-height: 114px !important;
}

.ag-theme-alpine {
    height: 100%;
}

.hide-header .ag-root-wrapper {
    border: none;
}

.hide-header .ag-pivot-off {
    display: none;
}

.secondary-color-background .ag-root-wrapper {
    background-color: var(--bg-color-secondary);
}

.hide-vertical-scroll .ag-body-vertical-scroll {
    display: none;
}

.hide-horizontal-scroll .ag-body-horizontal-scroll {
    display: none;
}

/* For Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* width of the entire scrollbar */
    height: 8px; /* height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #ffffff; /* color of the tracking area */
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(
        var(--color-300-gray)
    ); /* color of the scroll thumb */
    border-radius: 100px; /* radius of the scroll thumb */
    border: 3px solid rgb(var(--color-300-gray)); /* creates padding around scroll thumb */
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}

/* For Firefox */
* {
    scrollbar-width: thin; /* "auto" or "thin"  */
    scrollbar-color: rgb(var(--color-300-gray)) white; /* scroll thumb and track */
}

/* For IE and Edge */
* {
    -ms-overflow-style: -ms-autohiding-scrollbar; /* autohiding scrollbar */
}

/* Height - 100view height - 80 px (height of the top navbar) */
.height-adjusted {
    height: calc(100vh - 80px);
}

.workflow-height-adjusted {
    min-height: calc(100vh - 160px);
}

.case-search-card {
    box-shadow: 0px 0.3px 0.9px rgba(0, 0, 0, 0.07),
        0px 1.6px 3.6px rgba(0, 0, 0, 0.11);
    margin-bottom: 8px;
    width: 1130px;
}

.case-search-card > :first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.case-search-card > :last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.case-search-card-grid {
    display: grid;
    width: max-content;
    background-color: white;
    padding: 16px;
    grid-template-columns:
        [carrier] 48px [status] 128px [type] 214px repeat(3, 106px [data-col])
        [owner] 148px [data-col] 90px [chevron] 24px;
    column-gap: 16px;
    align-items: center;
}

.case-search-card-grid > div {
    max-width: fit-content;
}

.plus-others-container > :not(:last-child) {
    border-bottom: 2px solid rgb(var(--color-800-gray) / var(--tw-text-opacity));
    padding-bottom: 8px;
}

.plus-others-container > :not(:first-child) {
    padding-top: 8px;
}

.custom-grid-comaprison-table-styles {
    .ag-root-wrapper {
        border-radius: 0.3125rem;
    }
    .ag-root-wrapper-body {
        height: 8.25rem;
    }
}

.chevron-down {
    transition: transform 0.3s ease;
}

[data-state='open'] .chevron-down {
    transform: rotate(360deg);
}
