.close {
  width: 100%;
}

.confirmButton {
  margin-top: var(--measure-dimension-gap-3xl);
  margin-bottom: var(--measure-dimension-gap-lg);
  width: 100%;
  border-color: var(--color-status-surface-status-error-border-alt, #db004f);
}

.wrapper {
  gap: 4px;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.confirmIcon {
  color: var(--color-semantics-color-semantic-information, #005fed);
}
