.container {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.description {
  font: var(--typography-content-body-sm);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  margin-top: var(--space-1);
}
