.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--measure-dimension-padding-2xl) 0;
  position: relative;
  z-index: 2;
  background-color: var(--color-base-surface-surface-primary);
}

.notificationAlertContainer {
  position: relative;
}

.logoContainer {
  display: flex;
  gap: var(--measure-dimension-gap-md);
}

.account {
  display: flex;
  align-items: center;
  vertical-align: middle;
  gap: var(--measure-dimension-gap-md);
}

.bell {
  color: var(--color-base-icon-icon-dark);

  &:hover {
    color: unset;
  }
}

.notification {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.exclamation {
  margin-left: -12px;
  border-radius: 50%;
  background-color: var(--color-status-icon-status-error-icon);
  color: var(--color-avatar-avatar-text);
}
