.container {
  width: 100%;
  background-color: white;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: white;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: var(--measure-dimension-padding-2xl);
}

@media (width >= 768px) {
  .content {
    padding-inline: var(--measure-dimension-padding-4xl);
  }
}
