.container {
  display: flex;
  align-items: center;
  /* This is absolutely positioned because its on the layout page but needs to be in the same row as each page header
  to ensure that the link is always clickable, need to set zIndex high so it is stacked correctly */
  z-index: 900;
}

.desktopBadge {
  display: none;
}

@media (width > 768px) {
  .container {
    position: absolute;
    right: 0;
  }

  .desktopBadge {
    display: inline-block;
  }

  /* Doing this the old fashioned display: none way for now because level access
  has noted errors before with rearranging elements visually, but this could
  potentially be done with flex-direction  */
  .mobileBadge {
    display: none;
  }
}
